<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dashboards
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="<%= overview_dashboard_index_path %>">Overview</a>
    <hr>
    <a class="dropdown-item" href="<%= cycledashboard_dashboard_index_path %>"> Strategic </a>
    <hr>
    <a class="dropdown-item" href="<%= tactical_dashboard_dashboard_index_path %>">Tactical</a>
    <hr>
    <a class="dropdown-item" href="<%= paused_dashboard_index_path %>">Paused</a>  
    <hr>
    <a class="dropdown-item" href="<%= boards_dashboard_index_path %>">Cycle Planning Board</a>  
    
  </div>
</div>