<h5></h5>

<%= form_tag(cycle_board_dashboard_index_path, :enctype =>"multipart/form-data") do %>
   
<% cname = Cycle.all %>
<% card_epic = Card.where("activity_type LIKE 'Strategic' ") %>
<% cur_cycle = Cycle.where("current_cycle =1") %>

<div class="card">
  <div class="card-header">
    <h4> View Cycle Boards</h4>
  </div>  
<div class="card-body">  

<div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name",  cur_cycle.first.cycle_name)  %>
  
   </div>
</div>

<div class="row ml-1">
    <div class="field">
     <%= label_tag :type %>
     <%= select_tag "type", options_for_select(["Strategic", "Tactical", "Operational", "All Boards"], "Strategic")  %>
  
   </div>
</div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "editmode", 1, {:checked => "checked"}  %> Edit Mode
   </div>
 </div>

</div>
   <div class="card-footer">
   
   <div class="actions">
      <%= submit_tag 'Next' %>
   </div>
 
  
</div>
</div>
<% end %>