<%

%>

   
<% cname = Cycle.all %>
<% cur_cycle = Cycle.where("current_cycle =1") %>

<div class="row" style="padding-top: 10px">
<div class="col-md-12"> <h2> Dashboard for Strategic Projects</h2></div>
</div>
<div class="row" style="padding-top: 10px">

 <div class="col-md-4">
 <%= form_tag(strategic_dashboard_index_path, :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>LIT Internal</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "resource", 1, {:checked => "checked"}  %> Resource Allocation
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "progress", 1, {:checked => "checked"}  %> Overall Progress
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bars
   </div>
 </div>


 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "obj" , 1, {:checked => "checked"} %> Objectives
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "comments", 1, {:checked => "checked"}  %> Comments
   </div>
 </div>

 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
</div>
 <% end %>
</div>

 <div class="col-md-4">
 <%= form_tag(dashboard_dashboard_index_path, :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>Executive</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>
 
  <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bars
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "progress" ,1, {:checked => "checked"} %> Overall Progress
   </div>
 </div>

 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "fte" ,1, {:checked => "checked"} %> FTE
   </div>
 </div>

 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "pchartup" ,1, {:checked => "checked"} %> Progress: Line Graph  
     <%= check_box_tag "pchart" ,1, {:checked => "checked"} %> Burn Dowm
   </div>
 </div>

  <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "capacity" ,1, {:checked => "checked"} %> LIT Capacity Charts
   </div>
 </div>


 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
 <% end %>
</div>
</div>

<div class="col-md-4">
 <%= form_tag(dashboard_dashboard_index_path, :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>Public</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>
 
  <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bars
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "progress" ,1, {:checked => "checked"} %> Overall Progress
   </div>
 </div>



 <p style="padding-top: 65px"> </p>
 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
 <% end %>
</div>
</div>
</div>
