<% 
  p_type = params["type"]
  cycle = params["cycle"]
  editmode = params["editmode"]
  obj = params['obj']

  nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']
  cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
  s = cur_cycle.first.start.month
  stmonth = ""
  endmonth = ""
  months = ["","","","",""]
  
  s = cur_cycle.first.start.month

  i = 1 

  while (i<=4) do
    months[i] = nameofmonths[s]
    i = i + 1
    if s<=12
      s = s +1 
    else
      s =1 
    end  
   
  end

%>
<div class="panel-group" id="accordion">

  <% # projects and tracks %>
   <% if ( (p_type.eql? "Strategic") || (p_type.eql? "All Boards") )%>  

   <div class="row ">
  <div class = "col  d-flex">
    <h4 style="padding-top: 20px"> <%=cycle%> Cycle Planning Board: Strategic </h4>

  </div>
  </div>    
          <div class="row sticky-top" style="background-color: #F7F7F7;">
          
            <div class = "col border border-dark" style="margin-top: auto; margin-bottom: auto;  margin-left: auto; margin-right: auto; padding-top: 20px;  padding-bottom: 20px;">
              <p style="text-align: center;"><b>Projects</b></p>
            </div>  
           
           <% i = 1
              while (i <= 4) do 
              
                %>  
            <div class="col border border-dark"   >
                
      <p class="text-center" style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px"><b><%= months[i] %> </b></p>
             </div>
           <% 
             i = i +1
             end %>  
          </div>

            
           <% @pro_list.each do |pro| %>  
  
              <%
               str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle + "'"
               t_chips = ChipAssignment.where(str1).sum(:chips)
               t_chips = t_chips/4.00
               t_chips_fte = t_chips/4.00

               fte_rounded = roundup(t_chips_fte)

              %>
              <div class="row">
              <div class="col border border-dark "> 
                <div class="row"><div class="col-md-10">
                  <h6 style="padding-top: 10px;"><b><%= pro.title %> </b></h6>
                  <p>Total (average per month): <br><%= image_tag('user-loggedin.png', :alt => 'User Icon', size:"30x30")%> <%=t_chips.round(2) %> chips, <%=fte_rounded %> FTE</p>
                  <% if (obj) %>  
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><button type="button" class="btn btn-info">Objectives</button></a><p style="padding-top: 3px"></p>
                  <% end %>
                 </div>
                 <div class="col-md-2">
                  <% if (editmode) %>
                  <p style="padding-top: 20px">
                   <%= form_tag(progress2_cards_path, :enctype =>"multipart/form-data") do %>
                   <%= hidden_field_tag 'epic', pro.short_name %>
                   <%= hidden_field_tag 'cycle', cycle %>
                   <%= submit_tag 'Edit Progress' %>
                   </p>
                   <% end%>
                   <p style="padding-top: 5px">
                  <%= form_tag(resources2_cards_path, :enctype =>"multipart/form-data") do %>
                   <%= hidden_field_tag 'epic', pro.short_name %>
                   <%= hidden_field_tag 'cycle', cycle %>
                   <%= submit_tag 'Edit Resources' %>
                   </p>
                  <% end %>
                  <% end %>
                 </div> </div>
               </div></div>
     <% 
     if (obj) %>          
               <div id="collapse1" class="panel-collapse collapse">
                     <div class="row">
        <div class="col-md-8"></div>
           <% 
      
      i = 0 
          while (i<=4) 
            i = i + 1
       %>
       <div class="col-md-1"><%= months[i] %>
       </div>
       <% end %>  
      </div>  

      <% cnt = 0
        
        @o_st = Objective.where(str1) 

         @o_st.all.each do |o| 
            obj = o.objective
           
            cnt = cnt+1
      %>  
    
        <div class="row" style="padding-top: 5px"><div class="col-md-8"><%=cnt.to_s %>. <%= obj%></div>
       
       <% i = 1 
          while (i<=4) 
           
            if (i == 1)
             ostatus = o.status1
            elsif (i == 2)
             ostatus = o.status2
            elsif (i == 3)
             ostatus = o.status3
            else
             ostatus = o.status4
            end    
            i = i + 1
        %>    
        <div class="col-md-1">
        
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
      
       </div>
       <% end #while %> 
     </div>
       <% end %>
             
               
               
              <p style="padding-top: 5px"></p>
               <%#= form_tag("/cards/resources2", :enctype =>"multipart/form-data") do %>
   
      <%#= hidden_field_tag 'cycle', params["cycle"] %>
      <%#= hidden_field_tag 'epic', pro.short_name %>
      <%#= submit_tag 'Edit Resources' %>
   
    <%# end %>
             
             </div>
<% end #if obj %>
           <%
               str = "card_id = '" + pro.id.to_s + "'"
               @tracks = Track.where(str).order(:disp_order)
               @tracks.each do |t|

              str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle + "' AND trackname='"+t.track + "'"  
              str2 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle + "' AND track_id='"+t.id.to_s + "'"  
              t_chips = ChipAssignment.where(str1).sum(:chips)
              t_chips = t_chips/4.00
              t_chips_fte = t_chips/4.00
              fte_rounded =roundup(t_chips_fte)
              
           %>
            <div class="row">
             <div class="col border border-dark "  >
              <p style="padding-top: 5px;"><b><%= t.track %></b></p>
              <p>Total (average per month): <br><%= image_tag('User1.png', :alt => 'User Icon', size:"30x30")%> <%=t_chips.round(2) %> chips, <%=fte_rounded %> FTE</p>
              <% consult = Consultant.where(str1).order(:uniqname)
                if (consult.count>0) %>
                <hr>
                <p><i>Consultant(s): 
                <%

                  consult.each do |one_c|
                    one_chip = Chip.where("uniqname LIKE '"+one_c.uniqname+"'") 
                    %>
                    <br><%= image_tag('User3.png', :alt => 'User Icon', size:"30x30")%> <%= one_chip.first.fname + " " + one_chip.first.lname[0] + "." %>
                    <% end  %>
              </i></p>
              
              <% end #if%>
              
              <% nonl = Nonlit.where(str2)
                if (nonl.count>0) %>
                <hr>
                <p><i>Non-LIT Member(s): 
                <%

                  nonl.each do |one_c|
                    %>
                    <br><%= image_tag('User3.png', :alt => 'User Icon', size:"30x30")%> <%= one_c.fname + " " + one_c.lname[0] + "." %>
                    <% end  %>
              </i></p>
              
              <% end #if%>
              <hr>
             <p>Status:
             <% if (t.status.eql? "In-Progress") %>
             <%= image_tag("Play.png", :alt => 'In-Progress', size:"30x30")%>
             <% elsif (t.status.eql? "Slow Progress") %>
             <%= image_tag("Slow.png", :alt => 'Slow', size:"30x30")%> 
            <% elsif (t.status.eql? "Paused") %>
             <%= image_tag("Paused.png", :alt => 'Paused', size:"30x30")%> 
            <% elsif (t.status.eql? "Stopped") %>
             <%= image_tag("Stop.png", :alt => 'Stop', size:"30x30")%> 
            <% elsif (t.status.eql? "Done") %>
             <%= image_tag("Done.png", :alt => 'Done', size:"30x30")%>  
            <% end %> 
            (<%=t.status %>)
             <br>Details: <%= t.rationale %></p>


             </div>

           
             
            <% i = 1
              while (i <= 4) do 
               %> 
               <div class="col border border-dark ">
                <% 
                str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle +"' AND month='"+months[i] + "' AND trackname='"+t.track + "'"  %>
                <% @chips = ChipAssignment.where(str1).order(:uniqname) %>
                <% @chips.each do |ch| %>
                  
                  <div class="card card body" style="padding-top: 5px;">
                  <p style="text-align: center; "> 
                      <% cnt = 0
                      if (!ch.chips.nil?)
                        one_chip = Chip.where("uniqname LIKE '"+ ch.uniqname+"'")
                        while (cnt < ch.chips) do 
                          cnt = cnt + 1 %>
                          <%= image_tag("User1.png", :alt => 'User Icon', size:"30x30") %>
                        <% end %>
                        <br>
                        <%  
                          dup_chip = Chip.where("fname LIKE '" + one_chip.first.fname + "'")
                          cnt_chip = dup_chip.all.count
                          if (cnt_chip>1) %>
                         <%=  one_chip.first.fname+ " " + one_chip.first.lname[0] + "."%>
                        <% else %>
                         <%= one_chip.first.fname  %>
                        <% end %>  

                        </p>
                      <% end %>  

                  </div>
                   
                <% end %>
                <% i = i +1 %>
               </div>
              <% end %>
           </div>

           <%  end %>

           <% end %>  
<% end %>
</div>
<% if ((p_type.eql? "Tactical") || (p_type.eql? "All Boards") ) %>

<div class="row">
  <div class = "col">
    <h4 style="padding-top: 40px"> <%=cycle%> Cycle Planning Board: Tactical</h4>
  </div>
</div>    
          <div class="row sticky-top" style="background-color: #F7F7F7">
          
            <div class = "col border border-dark" style="margin-top: auto; margin-bottom: auto;  margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px">
              <p style="text-align: center;"><b>Projects</b></p>
            </div>  
           
           <% i = 0
              while (i < 4) do 
              
                %>  
            <div class="col border border-dark "  >
                
      <p class="text-center" style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px"><b><%= months[i] %> </b></p>
             </div>
           <% 
             i = i +1
             end %>  
          </div>

     <% @pro_list1.each do |pro| %>  
          
           <div class="row">
             <div class="col border border-dark ">
              <p style="padding-top: 15px"><b><%= pro.short_name %></b></p>
              
               <% 
                str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle + "'"
                consult = Consultant.where(str1).order(:uniqname)
                if (consult.count>0) %>
                <p><i>Consultant(s): 
                <%

                  consult.each do |one_c|
                    one_chip = Chip.where("uniqname LIKE '"+one_c.uniqname+"'") 
                    %>
                    <br><%= one_chip.first.fname + " " + one_chip.first.lname[0] + "."  %>
                    <% end  %>
              </i></p>
              <% end %> 
               <hr>
                <p>State:
             <% if (pro.card_status.eql? "In-Progress") %>
             <%= image_tag("Play.png", :alt => 'User Icon', size:"30x30")%>
             <% elsif (pro.card_status.eql? "Slow Progress") %>
             <%= image_tag("Slow.png", :alt => 'User Icon', size:"30x30")%> 
            <% elsif (pro.card_status.eql? "Paused") %>
             <%= image_tag("Paused.png", :alt => 'User Icon', size:"30x30")%> 
            <% elsif (pro.card_status.eql? "Stopped") %>
             <%= image_tag("Stop.png", :alt => 'User Icon', size:"30x30")%> 
            <% elsif (pro.card_status.eql? "Done") %>
             <%= image_tag("Done.png", :alt => 'User Icon', size:"30x30")%>  
            <% end %> 
            (<%=pro.card_status %>)
             </p>
             <p>Status: <%= pro.rationale %></p>
             </div> 
             
              <%
              str = "card_id = '" + pro.id.to_s + "' AND cycle='"+cycle+"'" 
              @obj = Objective.where(str)
              i = 0 
              @obj.each do |o|
                i = i + 1 
              %>
               
              <% end %>
             
            <% i = 0
              while (i < 4) do 
               %> 
               <div class="col border border-dark ">
                <% 
                str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle +"' AND month='"+months[i] + "'"  %>
                <% @chips = ChipAssignment.where(str1).order(:uniqname) %>
                <% @chips.each do |ch| 
                  one_chip = Chip.where("uniqname LIKE '"+ ch.uniqname+"'")
                %>
                <%#= "\u263A".unicode_normalize %>
                
                <div class="card card body">
                  <p style="text-align: center;">  
                   <% cnt = 0
                      if (!ch.chips.nil?)
                        while (cnt < ch.chips) do 
                          cnt = cnt + 1 %>
                          <%= image_tag("User1.png", :alt => 'User Icon', size:"30x30") %>
                        <% end %>  
                      <br><%= one_chip.first.fname  %></p>
                      <% end %>
                  </div>
                
                 
                <% end %>
                <% i = i +1 %>
               </div>
              <% end #while do%>
             

           </div>

           <% end %>  
   <% end                
       
 if  ((p_type.eql? "Operational") ||  (p_type.eql? 'All Boards') )
    dept = Array.new
    dept << "A&E"
    dept << "AIM"
    dept << "DCC"
    dept << "D&D"
    dept << "DLA"
    
  %>
  <div class="row">
  <div class = "col" >
    <h4 style="padding-top: 40px"> <%=cycle%> Cycle Planning Board: Operational </h4>
  </div>
</div> 
</div>
<div class="container">
  <div class="row sticky-top" style="background-color: #F7F7F7">
  <%  

  i = 0 
     while (i < 5) do %> 
     <div class="col border border-dark " >
      <p style="text-align: center; padding-top: 10px; "><b><%= dept[i] %></b></p>
      <%  
        str  = "dept LIKE '" + dept[i] + "'"
        sum =  Chip.where(str).sum(:ops)
      %>
      <p>Total: <%= sum%> chips; <%= sum/4.00 %> FTE </p>
     </div>
     <% i = i +1 
        end %>
</div>   
<div class="row">           
 <% i = 0 
     while (i < 5) do %> 
     
      <div class="col border border-dark ">
       <% str  = "dept LIKE '" + dept[i] + "'"
          ch = Chip.where(str).order(:uniqname) 
          ch.each do |one| 
            one_chip = Chip.where("uniqname LIKE '"+ one.uniqname+"'")
        %> 
             <div class="card card body">
                  <p style="text-align: center; padding-top:8px;"> 
                      <% cnt = 0
                      if ( (!one.ops.nil?) && (one.ops >0) )
                        while (cnt < one.ops) do 
                         cnt = cnt + 1 %>
                         <%= image_tag("User2.png", :alt => 'User Icon', size:"30x30") %>
                        <% end %>
                      <br><%= one_chip.first.fname  %></p>
                      <% end %>
                  </div>
          <% end %>  
          
      
     <% i = i + 1 %>
        </div> 
     <% end %>          
       </div>
    
<% end %>
</div>

