 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
    
  cycle = params["cycle"]
  fte = params["fte"]
  bar = params["bar"]
  progress = params["progress"]
  pchart = params["pchart"]
  pchartup = params["pchartup"]
  capacity = params["capacity"]
  
 
 cur_cycle = Cycle.where("current_cycle =1")
 cycle = cur_cycle.first.cycle_name
 
 months = get_months(cycle)
 stmonth = months[1]
 endmonth = months[4]
 cur_month = Date.current.month
 cur_dt = Date.current.day
 nameofmonths = ['','January', 'February','March','April','May','June','July','August', 'September','October','November','December']
 pos= months.index(nameofmonths[cur_month])
 
 if pos.nil?
  pos = 0 
 end  

 if ( (cur_dt < 24) && (pos>0)) # add curren month only if end of the month
    pos = pos-1
  end 

  @slist = Card.where("activity_type LIKE 'Strategic'")

  #burndown chart data
  

  data_array = []
  data_array_up = []
  legend = []
  strategic_p = [100]
  strategic_up = [0]

  ideal_p = [100] 
  i = 0 
  num = 75
  while (i<pos)
     ideal_p << num
     num = num -25
     i = i + 1
  end
  @slist.each do |s|
      strategic_p = [100]
      strategic_up = [0]
      
      month1p = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").sum(:status1)
      month2p = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").sum(:status2)
      month3p = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").sum(:status3)
      month4p = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").sum(:status4)  

     cnt1 = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").count
     cnt2 = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").count
     cnt3 = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").count
     cnt4 = Objective.where("card_id='"+s.id.to_s+"' AND cycle='" + cycle +"'").count 

     if (cnt1 >0)
     p1 = 100- (month1p/cnt1)
     if (p1 <100)
       strategic_p << p1
       strategic_up <<  (month1p/cnt1)
         
     end 
     p2 = 100- (month2p/cnt2)
     if (p2 < 100)
        strategic_p << p2
        strategic_up << (month2p/cnt1)
     end 

     p3 = 100- (month3p/cnt3)
     if (p3 < 100)
       strategic_p << p3
       strategic_up <<  (month3p/cnt1)
     end 

     p4 = 100- (month4p/cnt4)
     if (p4 < 100)
       strategic_p << p4
       strategic_up <<  (month4p/cnt1)
     end 
     end 
     data_array << strategic_p
     data_array_up << strategic_up
     legend << s.short_name
  end  

    graph_months = ['']
    i = 0 
    while (i<pos)
      i = i + 1
      graph_months << months[i][0..2]
    end

%>
<div class="container-fluid">
  <h3>  <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Strategic Projects  </h3>
  <p>(Reflects progress through the month of <%= months[pos] %>)</p>

  <% 

if (capacity) 

 @slist = Card.where("activity_type LIKE 'Strategic'")
 @alist = Card.where("activity_type LIKE '%Active%' ") 

         total_strategic = 0 
         @slist.all.each do |active| 
           card_id = active.id 

           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
          
           totalfte = 0 
           fte = 0 
           @ch_st = ChipAssignment.where(str)
           @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4

          total_strategic = total_strategic + totalfte
          
        end    

         total_tactical = 0 
         @alist.all.each do |active| 
           card_id = active.id 

           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
          
           totalfte = 0 
           fte = 0 
           @ch_st = ChipAssignment.where(str)
           @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4

          total_tactical = total_tactical + totalfte
          
        end    
         
 
  ch = Chip.order(:dept)
 totalops = 0
 totalpro =0 
 ch.each do |t|
  totalops = totalops = totalops + t.ops
  totalpro = totalpro = totalpro + t.project
 end
 
 totalops = totalops*1.0/4
 totalpro = totalpro*1.0/4
 finaltotal = totalops + totalpro

 propercent = (totalpro/finaltotal)*100
 opspercent = (totalops/finaltotal)*100

 totalfte = Array.new
 totalfte << totalops
 totalfte << totalpro
 

 total_left =  totalpro - (total_strategic+total_tactical)
 tpercent = (total_tactical/totalpro)*100
 spercent = (total_strategic/totalpro)*100
 leftpercent = (total_left/totalpro)*100
 tact_s = Array.new
 tact_s << total_strategic
 tact_s << total_tactical
 tact_s << total_left

 
 total_cap = Gchart.pie_3d(:title => "Total", :labels => "Ops/Services|Projects/Initiatives", :data => totalfte, :size => '500x200', :line_colors => 'f2c649,16147A')
pro_cap = Gchart.pie_3d(:title => "Projects/Initiatives", :labels => "Strategic|Tactical|Standing", :data => tact_s, :size => '500x200', :line_colors => 'D9D129, BBB424, E9E131')
%>

<p style="padding-top: 5px;" >
</p>
  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h5>
        
        LIT Capacity 
      </h5>
    </div>
   
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">    
            <p><%= image_tag total_cap%></p>
            <% fte_rounded= roundup(totalpro) %>
            <p align="center">Projects/Initiatives: <%=fte_rounded %> FTE, <%=propercent.round(2) %>%  </p>
             <% fte_rounded= roundup(totalops) %>
            <p align="center">Ops/Services: <%=fte_rounded %> FTE, <%=opspercent.round(2) %>% </p>
          </div>
          <div class="col-md-6">      
            <p ><%= image_tag pro_cap%></p>
             <% fte_rounded= roundup(total_strategic) %>
            <p align="center">Strategic: <%=fte_rounded %> FTE, <%=spercent.round(2) %>% </p>
              <% fte_rounded= roundup(total_tactical) %>
            <p align="center">Tactical: <%= fte_rounded %> FTE, <%=tpercent.round(2) %>% </p>
              <% fte_rounded= roundup(total_left) %>
             <p align="center">Standing: <%= fte_rounded %> FTE, <%=leftpercent.round(2) %>% </p>
          </div>  
        </div>  
      </div>
  
  </div>
  
<% end %>
<% if ( (pchartup) ||  (pchart)) 
  
    if (pchartup && pchart)
      size = '400x300'
    else
     size = '800x300'  
    end 
  %>
 <p style="padding-top:10px"> </p>
  <div class="card">
    <div class="card-header">
      <h5>Progress towards Objectives</h5>
    </div>
  <div class="card-body">    
   <div class="row">
    
 <% 
  
  #legend <<  'Expected'
  #data_array << ideal_p
  if (pchartup)
    

    burnup_chart = Gchart.line(
    :size => size,
    :line_colors => '003fff,5886a5,CDCF15,bc5090,ffa600,FFB8AE,00A99A,ff6361,50C878',
    :data => data_array_up, 
    :legend => legend,
    :title => 'Progress(%)',
    :axis_with_labels => ['x', 'y'], 
    :axis_labels => [graph_months], 
    :max_value => 100,
    :axis_range => [nil, [0,100,20]])
  
  %>
      <div class="col">
      <%= image_tag burnup_chart %>
      </div>
 
 <% end  #if phart%>



   <% 
  
  #legend <<  'Expected'
  #data_array << ideal_p
  if (pchart)
    

    burndown_chart = Gchart.line(
    :size => size,
    :line_colors => '003fff,5886a5,CDCF15,bc5090,ffa600,FFB8AE,00A99A,ff6361,50C878',
    :data => data_array, 
    :legend => legend,
    :title => 'Remaining (%)',
    :axis_with_labels => ['x', 'y'], 
    :axis_labels => [graph_months], 
    :axis_range => [nil, [0,100,25]])
  
  %>
     <div class="col">
      <%= image_tag burndown_chart %>
     </div>
  
 

 <% end  #if phart%>
  
  </div> 
  </div> 
</div>
<% end # if progress charts%>
 <div class="row" style="padding-top:20px"> 

<% 
 
  card_no = 0
  @slist.all.each do |strategic| 
     total = 0 
     cnt = 0
     card_no = card_no+1

     card_id = strategic.id 
     str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
     @o_st = Objective.where(str) 
     
     @o_st.all.each do |o|   
       # based on current month  
        if (pos==1)
               ostatus = o.status1
             elsif (pos==2)
               ostatus = o.status2
             elsif (pos==3)
               ostatus = o.status3
             elsif (pos==4)
               ostatus = o.status4    
             end  
       cnt = cnt+1 
       if (ostatus != nil)
          total+=ostatus
       end
     end    
    
    if (cnt>0) 
     total = total/cnt 
    else
     total = 0 
    end 
    
   
    t_chips = ChipAssignment.where(str).sum(:chips)
    t_chips = t_chips/4.00
    t_chips_fte = t_chips/4.00    

   

    @c_st = TrackComment.where(str)

    %>
   
    <div class="col-sm d-flex">
      <div class="card">
      <div class="card-header">
        <h5><%= strategic.title %></h5>
        <% if (progress) %>
          <p>Cycle Progress: <%= total %>%</p>
        <% end %>
        <% if (fte) 
          fte_rounded = roundup(t_chips_fte)%>
          <p>Average FTE per month: <%=fte_rounded  %></p>
        <% end %>
      </div>  
      <div class="card-body flex-fill">
         <% if (!strategic.short_description.nil?) %> 
           <p> <%= strategic.short_description.html_safe %></p>
         <% end %>
         
         <h6 ><strong> Objectives:</strong></h6>
         <% cnt = 0
        
           one = @c_st.first

           @o_st.all.each do |o| 
             obj = o.objective
             # get current status
             if (pos==1)
               ostatus = o.status1
             elsif (pos==2)
               ostatus = o.status2
             elsif (pos==3)
               ostatus = o.status3
             elsif (pos==4)
               ostatus = o.status4    
             end  

             cnt = cnt+1
         %>  
       
        <p style="padding-top:10px;"" ><%=cnt.to_s %>. <%= obj%></p>
      
        <% if (bar) %>  
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
        <% end %>

       
      <% 
         end #objectives%>
       
      </div>      
      </div>
    </div>
     <% if (card_no.remainder(3)==0)
     %>
       </div>  <div class="row" style="padding-top:20px"> 
     <% end %>   
      <% end %>
      <div class="col-sm d-flex"></div>
  </div>





 </div>  
</div>




  
   
    