 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
    
  cycle = params["cycle"]
  fte = params["fte"]
  bar = params["bar"]
  progress = params["progress"]
  
  nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']
  cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
  s = cur_cycle.first.start.month
  stmonth = ""
  endmonth = ""
  if (s != nil)
    stmonth = nameofmonths[s]
    if s<=8
      s = s +3
    else
      s = s+3 -12 
    end  
   endmonth = nameofmonths[s]
  end 

  @slist = Card.where("activity_type LIKE 'Strategic'")
  
%>
<div class="container-fluid">
  <h3>  <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Strategic Projects  </h3>

   <div class="row" style="padding-top:20px"> 
<% 
 
  card_no = 0
  @slist.all.each do |strategic| 
     total = 0 
     cnt = 0
     card_no = card_no+1

     card_id = strategic.id 
     str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
     @o_st = Objective.where(str) 
     
     @o_st.all.each do |o|     
       ostatus = o.status
       cnt = cnt+1 
       if (ostatus != nil)
          total+=ostatus
       end
     end    
    
    if (cnt>0) 
     total = total/cnt 
    else
     total = 0 
    end 
    
   
    t_chips = ChipAssignment.where(str).sum(:chips)
    t_chips = t_chips/4.00
    t_chips_fte = t_chips/4.00    

   

    @c_st = TrackComment.where(str)

    %>
 
    <div class="col-sm d-flex">
      <div class="card">
      <div class="card-header">
        <h5><%= strategic.title %></h5>
        <% if (progress) %>
          <p>Cycle Progress: <%= total %>%</p>
        <% end %>
        <% if (fte) %>
          <p>Total FTE: <%= t_chips_fte.round(2) %></p>
        <% end %>
      </div>  
      <div class="card-body flex-fill">
         <% if (!strategic.short_description.nil?) %> 
           <p> <%= strategic.short_description.html_safe %></p>
         <% end %>
         <% if (strategic.title.include? 'Hathi') 
            # don nothing
            else %>
         <h6 ><strong> Objectives:</strong></h6>
         <% cnt = 0
        
           one = @c_st.first

           @o_st.all.each do |o| 
             obj = o.objective
             ostatus = o.status
             cnt = cnt+1
         %>  
       
        <p style="padding-top:10px;"" ><%=cnt.to_s %>. <%= obj%></p>
      
        <% if (bar) %>  
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
        <% end %>

       
      <% end # if not HT
         end #objectives%>
       
      </div>      
      </div>
    </div>
     <% if (card_no.remainder(3)==0)
     %>
       </div>  <div class="row" style="padding-top:20px"> 
     <% end %>   
      <% end %>
      <div class="col-sm d-flex"></div>
  </div>

 </div>
  
</div>




  
   
    