<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "#FFF" 
   color4 = "#CCC"
    

  @slist = Card.where("activity_type LIKE 'Strategic'")
  @alist = Card.where("activity_type LIKE '%Active%' ")   

  total_chips = Chip.sum(:project) *1.00

 flag = true


cur_cycle = Cycle.where("current_cycle =1")
cycle = cur_cycle.first.cycle_name

months = get_months(cycle)
stmonth = months[1]
endmonth = months[4]
cur_month = Date.current.month
cur_dt = Date.current.day

pos =0 
nameofmonths = ['','January', 'February','March','April','May','June','July','August', 'September','October','November','December']
pos= months.index(nameofmonths[cur_month])

if (!pos.nil?)                  
if (cur_dt < 24) # add current month only if end of the month
  pos = pos-1
end 
   

pro = Array.new
cap =Array.new

   total_strategic = 0 
   @slist.all.each do |strategic| 
           card_id = strategic.id 
           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
 
           total = 0 
           cnt = 0
           @o_st = Objective.where(str) 

           @o_st.all.each do |o|     
             if (pos==1)
               ostatus = o.status1
             elsif (pos==2)
               ostatus = o.status2
             elsif (pos==3)
               ostatus = o.status3
             elsif (pos==4)
               ostatus = o.status4    
             end  
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
          end    
          if (cnt>0)
            total = total/cnt 
          else
            total = 0
          end    
          # capacity
          totalfte = 0 
        
          str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "' "
          @ch_st = ChipAssignment.where(str)

          @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4

          fte_rounded = roundup(totalfte) 

          pro << total
          cap << fte_rounded
          total_strategic = total_strategic + totalfte
         end
 


status_keys = ['Allocation','Progress']
x_labels = ['LSP | CS | LS | DB | DCP | Fulcrum | Website | HT']
title =""
details_data = Gchart.bar( %>
                  <% :size => '600x400', %>
                  <% :bar_colors => '81b0df,adcb62' , %>
                  <% :title => title, %>
                  <% :bg => 'FFFFFF', %>
                  <% :legend => status_keys, %>
                  <% :data => [cap,pro], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 100, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => x_labels, %>
                  <% ) 

# ---- end of capacity and progress details ------

status_keys_c = ['Allocation']
x_labels = ['LSP | CS | LS | DB | DCP | Fulcrum | Website | HT']
title =""
strategic_cap = Gchart.bar( %>
                  <% :size => '500x200', %>
                  <% :bar_colors => '81b0df' , %>
                  <% :title => title, %>
                  <% :bg => 'FFFFFF', %>
                  <% :legend => status_keys_c, %>
                  <% :data => [cap], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 5, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => x_labels, %>
                  <% :axis_range => [nil, [0,5,1]], %>
                  <% ) 
# end of strategic capacity

status_keys_p = ['Progress']
x_labels = ['LSP | CS | LS | DB | DCP | Fulcrum | Website | HT']
title =""
strategic_pro = Gchart.bar( %>
                  <% :size => '500x200', %>
                  <% :bar_colors => 'adcb62' , %>
                  <% :title => title, %>
                  <% :bg => 'FFFFFF', %>
                  <% :legend => status_keys_p, %>
                  <% :data => [pro], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 100, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => x_labels, %>
                  <% ) 
# end of strategic progress
end #if pos not nil
%>


<%
  
         a_cnt = 0 
         total_tactical = 0 
         @alist.all.each do |active| 
           card_id = active.id 

           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
           @o_st = Objective.where(str) 
           
           if ( @o_st.first != nil)
            total = @o_st.first.status
            if (total.nil?)
              total = 0 
            end  
           else
            total = 0  
           end
           totalfte = 0 
           fte = 0 
           @ch_st = ChipAssignment.where(str)
           @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4

          total_tactical = total_tactical + totalfte
           a_cnt = a_cnt + 1
           if (a_cnt == 5) 
           a_cnt = 1   
           end
        end    
         
#----
 ch = Chip.order(:dept)
 totalops = 0
 totalpro =0 
 ch.each do |t|
  totalops = totalops = totalops + t.ops
  totalpro = totalpro = totalpro + t.project
 end
 
 totalops = totalops*1.0/4
 totalpro = totalpro*1.0/4
 finaltotal = totalops + totalpro

 propercent = (totalpro/finaltotal)*100
 opspercent = (totalops/finaltotal)*100

 totalfte = Array.new
 totalfte << totalops
 totalfte << totalpro
 
 if (total_strategic.nil?)
  total_strategic = 0 
 end 
 
 if (total_tactical.nil?)
  total_tactical = 0 
 end 
  
 total_left =  totalpro - (total_strategic+total_tactical)
 tpercent = (total_tactical/totalpro)*100
 spercent = (total_strategic/totalpro)*100
 leftpercent = (total_left/totalpro)*100
 tact_s = Array.new
 tact_s << total_strategic
 tact_s << total_tactical
 tact_s << total_left

 
 total_cap = Gchart.pie_3d(:title => "Total", :labels => "Ops/Services|Projects/Initiatives", :data => totalfte, :size => '500x200', :line_colors => 'f2c649,16147A')
pro_cap = Gchart.pie_3d(:title => "Projects/Initiatives", :labels => "Strategic|Tactical|Standing", :data => tact_s, :size => '500x200', :line_colors => '16147A')
%>

<div class="container">

<% if (pos.nil?) %>
<p> No data found </p>
<% else %>
<h3  style="padding-bottom: 5px"> <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Dashboard </h3> 
<p>(Reflects progress through the month of <%= months[pos] %>)</p>

<div class="panel-group" id="accordion" style="padding-top: 25px">

 <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        LIT Capacity </a>
      </h5>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">    
            <p><%= image_tag total_cap%></p>
            <% fte_rounded = roundup(totalpro)
              %>       
            <p align="center">Projects/Initiatives: <%=fte_rounded %> FTE, <%=propercent.round(2) %>%  </p>
           <% fte_rounded = roundup(totalops) %>  
            <p align="center">Ops/Services: <%=fte_rounded %> FTE, <%=opspercent.round(2) %>% </p>
          </div>
          <div class="col-md-6">      
            <p ><%= image_tag pro_cap%></p>
             <% fte_rounded = roundup(total_strategic) %> 
            <p align="center">Strategic: <%= fte_rounded %> FTE,<%=spercent.round(2) %>% </p>
            <% fte_rounded = roundup(total_tactical) %> 
            <p align="center">Tactical: <%= fte_rounded %> FTE, <%=tpercent.round(2) %>% </p>
            <% fte_rounded = roundup(total_left) %> 
             <p align="center">Standing: <%= fte_rounded %> FTE, <%=leftpercent.round(2) %>% </p>
          </div>  
        </div>  
      </div>
    </div>
  </div>

<p style="padding-top: 5px;" >
</p>
<div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Status: Strategic and Tactical  </a>
      </h5>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">  
            <% str = "activity_type LIKE 'Strategic' "
               @s_list = Card.where(str) 
               @s_list.each do |s| 
                str = "card_id='"+s.id.to_s+"' AND cycle='"+cycle+"'"
                fte = ChipAssignment.where(str).sum(:chips)
                fte = fte/16.00
                #check alerts
                str = "card_id='"+s.id.to_s+"'"
                alert_cnt =  Alert.where(str).count

                fte_rounded = roundup(fte) 
                
                       

            %>  
                 <div class="card card-body">
                 <h6><b><%= s.short_name%> (<%= fte_rounded %> FTE)</b> 
                  <% if (alert_cnt >0) %>
                  <a href="../alerts"><span class="badge badge-warning">Notifications: <%= alert_cnt%></span></a>
                  <% end %>
                </h6>
                 <div class="row" style="padding-top: 5px"> 
                  <% # all tracks
                    
                    all_tracks = Track.where(str).order(:disp_order)
                    track_cnt = 0 
                    all_tracks.each do |t|
                      track_cnt = track_cnt + 1
                  %><div class="col"> <i><b><%=track_cnt%>. <%= t.track %></b></i> <br>Status: 
                      <% if (t.status.eql? "In-Progress") %>
                         <%= image_tag("Play.png", :alt => 'User Icon', size:"20x20")%>
                      <% elsif (t.status.eql? "Slow Progress") %>
                         <%= image_tag("Slow.png", :alt => 'User Icon', size:"20x20")%> 
                      <% elsif (t.status.eql? "Paused") %>
                         <%= image_tag("Paused.png", :alt => 'User Icon', size:"20x20")%> 
                      <% elsif (t.status.eql? "Stopped") %>
                         <%= image_tag("Stop.png", :alt => 'User Icon', size:"20x20")%> 
                      <% elsif (t.status.eql? "Done") %>
                         <%= image_tag("Done.png", :alt => 'User Icon', size:"20x20")%>  
                      <% end #if %> 
                       <br><%= t.rationale %> </div>

                    <%    end #for each track  %>
                     <% track_cnt = 4-track_cnt 
                          while (track_cnt > 0) do
                            track_cnt = track_cnt-1
                           %>
                        <div class="col border border-light"></div>
                         <% end #while %>
                <%
                  

                   month1p = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").sum(:status1)
                   month2p = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").sum(:status2)
                   month3p = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").sum(:status3)
                   month4p = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").sum(:status4)  

                    cnt1 = Objective.where("card_id='"+ s.id.to_s + "' AND cycle='" + cycle + "'").count
                  # cnt2 = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").count
                   #cnt3 = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").count
                   #cnt4 = Objective.where("card_id='" + s.id.to_s + "' AND cycle='" + cycle + "'").count 
                   strategic_p = [100] 
                   strategic_up =[0]
                  if (cnt1 >0)
                   p1 = 100- (month1p/cnt1)
                   strategic_p << p1 
                   strategic_up << (month1p/cnt1)
                   
                   p2 = 100- (month2p/cnt2)
                   if (p2 < 100)
                       strategic_p << p2
                       strategic_up << (month2p/cnt1)
                   end 

                   p3 = 100- (month3p/cnt3)
                   if (p3 < 100)
                       strategic_p << p3
                       strategic_up << (month3p/cnt1)
                   end 

                   p4 = 100- (month4p/cnt4)
                   if (p4 < 100)
                       strategic_p << p4
                       strategic_up << (month4p/cnt1)
                   end    
                 end  
                   ideal_p = [100] 
  i = 0 
  num = 75
  while (i<pos)
     ideal_p << num
     num = num -25
     i = i + 1
  end
                  
                  graph_months = ['']
                  i = 0 
                  while (i<pos)
                    i = i + 1

                    graph_months << months[i][0..2]
                  end

                  burndown_chart = Gchart.line(
                  :size => '240x150',
                  :line_colors => '933A16,50C878',
                  :data => [strategic_p,ideal_p], 
                  :legend => [ 'Actual', 'Expected'],
                  :title => 'Effort Burndown',
                  :axis_with_labels => ['x', 'y'], 
                  :axis_labels => [graph_months], 
                  :axis_range => [nil, [0,100,25]])

                   burnup_chart = Gchart.line(
                  :size => '240x150',
                  :line_colors => '933A16,50C878',
                  :data => [strategic_up], 
                  :title => 'Progress (%)',
                  :axis_with_labels => ['x', 'y'], 
                  :axis_labels => [graph_months],
                  :max_value =>100, 
                  :axis_range => [nil, [0,100,25]])
                %>
                    
                   <div class="col-md-3"> <%= image_tag burnup_chart %>   </div>
                 </div></div>
                  <% end #for each %>  
                   
          </div>
           
        </div>
        
        
        <div class="row" style="padding-top: 5px;">
                
            <% t_cnt = 0 
               str = "activity_type LIKE '%Active%' "
               @s_list = Card.where(str) 
               @s_list.each do |s| 
                t_cnt = t_cnt + 1
                str = "card_id='" + s.id.to_s + "' AND cycle='"+ cycle + "'"
                fte = ChipAssignment.where(str).sum(:chips)
                fte = fte/16.00

                
                @o_st = Objective.where(str) 
                
                totalp = 0 
                if ( @o_st.first != nil)
                 totalp = @o_st.first.status
                 if (totalp.nil?)
                   totalp = 0 
                 end  
                else
                  totalp = 0  
                end
              %> 
              <% if (t_cnt%5==0) 
                  t_cnt = 1 %>
                </div><div class="row" style="padding-top: 5px;">
              <% end %>   
              <div class="col">
               <div class="card card-body">
                  <p ><b><%= s.short_name%>:</b> 
                    <% fte_rounded = roundup(fte)
                    %>
                    <br><%= fte_rounded %> FTE
                    <br>Status:  <% if (s.card_status.eql? "In-Progress") %>
                    <%= image_tag("Play.png", :alt => 'User Icon', size:"20x20")%>
                  <% elsif (s.card_status.eql? "Slow Progress") %>
                    <%= image_tag("Slow.png", :alt => 'User Icon', size:"20x20")%> 
                  <% elsif (s.card_status.eql? "Paused") %>
                    <%= image_tag("Paused.png", :alt => 'User Icon', size:"20x20")%> 
                  <% elsif (s.card_status.eql? "Stopped") %>
                    <%= image_tag("Stop.png", :alt => 'User Icon', size:"20x20")%> 
                  <% elsif (s.card_status.eql? "Done") %>
                    <%= image_tag("Done.png", :alt => 'User Icon', size:"20x20")%>  
                  <% end %> <%#= s.card_status %> <br><%= s.rationale %> </p>
                
                   
                <div class="progress"> <div class="progress-bar bg-info" role="progressbar" style="width: <%=totalp %>%;" aria-valuenow="<%=totalp %>" aria-valuemin="0" aria-valuemax="100"> <%=totalp %>%</div> </div>
              </div>
              
            </div>

          <% end %>
           
        </div>  
      
    </div>
  </div>

<p style="padding-top: 5px;"></p>



  <div class="card" style="background: <%=color1 %>">
     <div class="card-header" style="background: <%= color2 %>">
       <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Resource Allocation and Progress: Strategic </a>
      </h5>
    </div>

    <div id="collapse1" class="panel-collapse collapse">
    <div class="card-body">
      <div class="row">
          
          
          <div class="col-md-8"> 
       
                 <div class=" card card-body">
                  <strong>Allocation</strong>
                  <%= image_tag strategic_cap%>
                 </div>
               
                <p style="padding-top: 20px;">
                  <div class=" card card-body">
                    <strong>Progress</strong>
                    <%= image_tag strategic_pro%>
                  </div>  
               

          </div>   
        <div class="col-md-4">
          
        
        <% 
              i = 0 
              @slist.each do |strategic|
              
             %>
             <p><b><%= strategic.short_name%></b>
              <br><%=cap[i]%> FTE
              <br>Progress: <%=pro[i]%>% 
             </p>
             <hr>
             <% 
               i = i + 1   
               end 
            %>
        </div>   
      </div>  
    </div>
 </div>
 </div>
 



 

<%end #if pos not nil %>
</div>
</div>