 
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""

   cycle = params["cycle"]
   bar = params["bar"]
   obj = params["obj"]
   mname = params["mname"]
 
 str = request.request_method
 if (str=="GET")
   obj = true
   bar = true
 end  

 if (cycle.nil?)
  cur_cycle = Cycle.where("current_cycle =1")
  cycle = cur_cycle.first.cycle_name
 end

 
 months = get_months(cycle)
 stmonth = months[1]
 endmonth = months[4]

 if (mname.nil?)
 cur_month = Date.current.month
 cur_dt = Date.current.day
 nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']

 pos= months.index(nameofmonths[cur_month])

 if pos.nil?
  pos = 0 
 end 
 
 if (cur_dt < 24) # add curren month only if end of the month
    pos = pos-1
 end 
 else
    pos =   months.index(mname)
 end # if mname is nil   
%>   

<div class="container-fluid">
  <h3> <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Tactical Projects</h3>
  <% if (!mname.nil?) %>
  <p>(Reflects progress through the month of <%= mname %>)</p> 
  <% end %>
 <div class="row" style="padding-top: 20px">
   <div class="col-sm d-flex">  
    
     <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >Internal LIT Projects</h5> </div>
       <div class="card-body flex-fill">
          <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Tactical%' AND card_type LIKE '%Internal%' AND card_status != 'Archived' AND card_status != 'Done' AND card_status != 'Paused' AND card_status != 'New' ")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s + " AND cycle='" + cycle +"'"
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.title.html_safe %></h5>
      
      <p><% unless one.short_description.nil? %> <%= one.short_description.html_safe %> <%end%></p>
      <p>Lead: <%=one.lit_lead%></p>
      <% if (obj) %>
      <p><b>Objectives:</b></p>
      <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>
      <% if ( (bar) && (ostatus.to_i >0)) %>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
       <% end %> 
       <% end %> 
       <% end #if %>
      <% if (cnt <@slist.count) %>
      <hr>
      <% end %>
      <% end   %>


       </div>
      </div>
   </div>
   <div class="col-sm d-flex"><div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >Library Projects</h5> </div>
       <div class="card-body flex-fill">
             <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Tactical%' AND card_type LIKE '%Library%' AND card_status != 'Archived' AND card_status != 'Done' AND card_status != 'Paused' AND card_status != 'New'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        #str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.title.html_safe %></h5>
      <p><% unless one.short_description.nil? %><%= one.short_description.html_safe %><%end%></p>
      <p>Lead: <%=one.lit_lead%></p>
      <% if (obj) %>
       <p><b>Objectives:</b></p>
        <% @o_st.all.each do |o|  
        ostatus =  o. status%>
     
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>
      <% if ( (bar) && (ostatus.to_i >0) ) %>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
      <% end   
      end 
        end %> 
      <% if (cnt <@slist.count) %>
      <hr>
      <% end
        end  
     %>


       </div>
      </div>
   </div>
   <div class="col-sm d-flex"> <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >External Commitments</h5> </div>
       <div class="card-body flex-fill">
             <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Tactical%' AND card_type LIKE '%External%' AND card_status != 'Archived' AND card_status != 'Done' AND card_status != 'Paused' AND card_status != 'New'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        #str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.title.html_safe %></h5>
        <p><% unless one.short_description.nil? %><%= one.short_description.html_safe %><% end %></p>
        <p>Lead: <%=one.lit_lead%></p>
        <% if (obj) %>
        <p><b>Objectives:</b></p>
        <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>
      <% if ( (bar) && (ostatus.to_i >0)) %>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
      <% end %>  
       <% end 
          end #if obj%> 
      <% if (cnt <@slist.count) %>
      <hr>
      <%
        end  
      end 
     %>

       </div>
      </div>
   </div>
 </div>



