 
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""

   cycle = params["cycle"]
   bar = params["bar"]
   obj = params["obj"]
  
  months = get_months()
 cur_cycle = Cycle.where("current_cycle =1")
 cycle = cur_cycle.first.cycle_name
 stmonth = months[1]
 endmonth = months[4]
 cur_month = Date.current.month
 cur_dt = Date.current.day
 nameofmonths = ['','January', 'February','March','April','May','June','July','August', 'September','October','November','December']
 pos= months.index(nameofmonths[cur_month])

 if (cur_dt < 24) # add curren month only if end of the month
    pos = pos-1
 end 

%>   

<div class="container-fluid">
  <h3> <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Tactical Projects</h3>
  
 <div class="row" style="padding-top: 20px">
   <div class="col-sm d-flex">  
    
     <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >Internal LIT Projects</h5> </div>
       <div class="card-body flex-fill">
          <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Active%' AND card_type LIKE '%Internal%'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.title.html_safe %></h5>
      <p><% unless one.short_description.nil? %> <%= one.short_description.html_safe %> <%end%></p>
      <% if (obj) %>
      <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      <p><b>Objectives:</b></p>
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>
      <% if ( (bar) && (ostatus.to_i >0)) %>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
       <% end %> 
       <% end %> 
       <% end #if %>
      <% if (cnt <@slist.count) %>
      <hr>
      <% end %>
      <% end   %>


       </div>
      </div>
   </div>
   <div class="col-sm d-flex"><div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >Library Projects</h5> </div>
       <div class="card-body flex-fill">
             <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Active%' AND card_type LIKE '%Library%'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.title.html_safe %></h5>
      <p><% unless one.short_description.nil? %><%= one.short_description.html_safe %><%end%></p>
      <% if (obj) %>
        <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      <p><b>Objectives:</b></p>
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>
      <% if ( (bar) && (ostatus.to_i >0) ) %>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
      <% end   
      end 
        end %> 
      <% if (cnt <@slist.count) %>
      <hr>
      <% end
        end  
     %>


       </div>
      </div>
   </div>
   <div class="col-sm d-flex"> <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >External Commitments</h5> </div>
       <div class="card-body flex-fill">
             <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Active%' AND card_type LIKE '%External%'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.title.html_safe %></h5>
        <p><% unless one.short_description.nil? %><%= one.short_description.html_safe %><% end %></p>
        <% if (obj) %>
        <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      <p><b>Objectives:</b></p>
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>
      <% if ( (bar) && (ostatus.to_i >0)) %>
      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
      <% end %>  
       <% end 
          end #if obj%> 
      <% if (cnt <@slist.count) %>
      <hr>
      <%
        end  
      end 
     %>

       </div>
      </div>
   </div>
 </div>



