<h5></h5>

   
<% cname = Cycle.all %>
<% cur_cycle = Cycle.where("current_cycle =1") %>
<% months = get_months(cur_cycle.first.cycle_name) %>
<% cur_month = Date.current.month %>

<div class="row" style="padding-top: 20px">
 <div class="col-md-6">
 <%= form_tag(tactical_stats_dashboard_index_path, :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>LIT Internal Dashboard: Tactical Projects</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>

 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "resource", 1, {:checked => "checked"}  %> Resource Allocation
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "progress", 1, {:checked => "checked"}  %> Overall Progress
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bar
   </div>
 </div>


 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "obj" , 1, {:checked => "checked"} %> Objectives
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "comments", 1, {:checked => "checked"}  %> Comments
   </div>
 </div>

 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
</div>
 <% end %>
</div>

 <div class="col-md-6">
 <%= form_tag(tactical_dashboard_index_path, :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>Public Dashboard: Tactical Projects</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>

   <div class="row ml-1">
    <div class="field">
     <%= label_tag :month %>
     <%= select_tag "mname", options_for_select(months,cur_month)  %> 
   </div>
 </div>

  <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bar
   </div>
 </div>
 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "obj", 1, {:checked => "checked"}  %> Objectives
   </div>
 </div>

 <p style="padding-top: 15px"> </p>
 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
 <% end %>
</div>
</div>
