 
<%
  uniqname = params["uniqname"]
  str = "uniqname='"+uniqname+"'"
  one_chip = Chip.where(str)
  
  if (!one_chip.first.nil?)
    one_chip = one_chip.first
    title = "Edit Staff Chips"
  else
    title = "Add New Staff"
    one_chip = Chip.new  
  end  

  

%>
<div class="card">
  <div class="card-header">
    <h4> <%= title %></h4>
  </div>  
<div class="card-body">  

<%= form_tag(save_chips_chips_path, :enctype =>"multipart/form-data") do  %>


 <div class="row ml-1">
    <div class="field">
      <%= label_tag :uniqname %> <%= text_field_tag 'uniqname', value=one_chip.uniqname  %> (Leave it blank for deleting the chip)
    </div>
</div>

 <div class="row ml-1">
    <div class="field">
      <%= label_tag :firstname %><%= text_field_tag 'fname', value=one_chip.fname  %>
    </div>
</div>

 <div class="row ml-1">
    <div class="field">
      <%= label_tag :lastname %><%= text_field_tag 'lname', value=one_chip.lname  %>
    </div>
</div>

 <div class="row ml-1">
    <div class="field">
      <%= label_tag :department %><%= text_field_tag 'dept', value=one_chip.dept  %>
    </div>
</div>

 <div class="row ml-1">
    <div class="field">
      <%= label_tag :project%> <%= text_field_tag 'project', value=one_chip.project  %>
      <%= label_tag :ops %> <%= text_field_tag 'ops', value=one_chip.ops  %>
      
    </div>
</div>

<% cname = Cycle.all %>
<div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", one_chip.cycle)  %>
  
   </div>
</div>

      <div class="actions">
        <%= hidden_field_tag 'id', one_chip.id %>
        <%= submit_tag 'Save' %>
      </div>

     <% 
       end 
     %>
     
   
 
</div>

  <div class="card-footer"> 
   
  </div>
</div>
