


<%
 ch = Chip.order(:dept)
 totalfte_o = 0
 totalfte_p = 0 
 ch.each do |t|
  totalfte_o = totalfte_o + t.ops*1.0/4
  totalfte_p = totalfte_p + t.project*1.0/4
 end

 color1 = "" #neutral 100
   color2 = "#CCC" #blue-300

   color3 = "#FFF" 
   color4 = "#dcdcdc"

 cur_cycle = Cycle.where("current_cycle =1")
cycle = cur_cycle.first.cycle_name
  
%>
<div class="container">
  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h4 > LIT Staff Capacity </h4>
    </div>
   
   <div class="card-body">
        <% 
            flag = true
            cnt = 1 
              
         %>  
        <h5>Total Project FTE: <%=totalfte_p %>, Total Ops FTE: <%=totalfte_o %></h5>
        <div class="row" style="background: <%=color2 %>">
          <div class="col-md-1"></div> 	
          <div class="col-md-1"><b>Dept</b></div>
          <div class="col-md-2"><b>First Name</b></div>
          <div class="col-md-2"><b>Last Name</b></div>
          <div class="col-md-2"><b>Uniqname</b></div>
          <div class="col-md-1"><b>Project</b></div>
          <div class="col-md-1"><b>Ops</b></div>
          <div class="col-md-2"><b>Assignments</b></div>  
        </div>   
        <%
          ch.each do |t|
            fte_o = t.ops*1.0/4
            fte_p = t.project*1.0/4
            
          if (flag) 
              color = color3
              flag = !flag
          else 
            color = color4
            flag = !flag
          end 
        %>   
        <div class="row" style="background: <%=color %>">
          <div class="col-md-1"><%=cnt%></div> 	
          <div class="col-md-1"><%=t.dept%></div>
          <div class="col-md-2"><%=t.fname%></div>
          <div class="col-md-2"><%=t.lname%></div>
          <div class="col-md-2"><%=t.uniqname%></div>
          <div class="col-md-1"><%=fte_p%></div>
           <div class="col-md-1"><%=fte_o%></div>
           <% 
           		str = "uniqname='"+t.uniqname+"' AND cycle='"+ cycle + "' "
           		ch_a = ChipAssignment.where(str).distinct

           	%>	
           <div class="col-md-2">
           	<%
           	   ch_a.each do |a|
           	   card_name=	Card.where("id='"+a.card_id.to_s+"'")
           	   card_name = card_name.first.title
           	%>
           	 <p> <%= card_name %> (<%= a.month %>)</p>
           	<% end %>
           </div>
          
        </div> 
           
        <%  
          cnt = cnt +1 
          end
        %>

    </div>
  </div>
</div>