 
<%

if (@approve_access)
  temp_chips = Chip.order(:uniqname).map(&:uniqname).uniq
   
    chips = ['<Add New Staff>']
    temp_chips.each do |t|
      if ( !t.nil? )
        chips << t
      end
    end

    cname = Cycle.all
    cur_cycle = Cycle.where("current_cycle =1")
    cycle = cur_cycle.first.cycle_name
%>
<div class="card">
  <div class="card-header">
    <h4> Edit Staff Chips (<a href="../reports/chip_assignment">view all</a>)</h4>
  </div>  
<div class="card-body">  

<%= form_tag(edit_chips_chips_path, :enctype =>"multipart/form-data") do  %>


 <div class="row ml-1">
    <div class="field">
      <%= label_tag :uniqname %>
     <%= select_tag "uniqname", options_for_select(chips)  %>
    </div>
</div>

 <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cycle)  %> 
   </div>
 </div>

<div class="actions">
        <%= submit_tag 'Next' %>
</div>

     <% 
       end 
     %>
     
   
 
</div>

  <div class="card-footer"> 
   
  </div>
</div>
<% end %>
