<p id="notice"><%= notice %></p>

<%#= link_to 'Edit', edit_card_path(@card) %>
<%#= link_to 'Back', cards_path %>

<h5> Import Cycle Review </h5>

<%= form_tag("import_cycle_review", :enctype =>"multipart/form-data") do %>
   <div class="row">
   <div class="field">
     <%= label_tag :file %>
     <%= file_field_tag :file,  :required => true  %>
   </div>
</div>
<div class="row">
    <div class="field">
     <%= label_tag :cycle %>
     <%= text_field_tag :cycle ,nil, :required => true   %>
   </div>
</div>
   <div class="row">
   <div class="actions">
      <%= submit_tag 'Next' %>
   </div>
</div>
<% end %>