

<% r = Rationale.all %>
<% s = Status.all  
%>

<% i = 1 %>
<% cycle = params["cycle"] %>
<% review_type = params["review_type"] #1=mid, 2=end 

if (review_type == "1")
  caption = " Mid Cycle Review"
else
  caption = " End of Cycle Review"   
end
params["review_type"] = review_type
params["cycle"] = cycle
%>


   
  <%= form_tag(add_cycle_review_index_path, :enctype =>"multipart/form-data") do %>
  <div class="card">
  <div class="card-header">
    <h2><%=cycle%> <%=caption%> </h2>
     <%= submit_tag 'Save' %> 
  </div>
  <div class="card-body"> 
  <table  class="table table-striped">
    <thead>
      <tr>
        <th >#</th>
        <th >Short Name and Title</th>
        <th >Status</th>
        <th >Rationale</th>
        <th >Comments</th>
      </tr>
    </thead>
    <tbody>
      <%= hidden_field_tag "review_type", review_type %>
      <%= hidden_field_tag "cycle", cycle %>

      <% @cards.each do |card| %>
      <%= fields_for "cards[]", card do |cd| %>
          
      <%    cr1 = CycleReview.where("card_id=? AND review_type=? AND cycle=?",card.id,review_type,cycle)
          cr = cr1.first
          
          if (cr.nil?)
            saved_status = card.card_status
            saved_r = card.rationale
          else
            saved_status = cr.status
            saved_r = cr.rationale
          end    
      %>
      <tr>
        <td> <%= i %><% i+=1 %></td>
        <td><%= card.title %>( <%= card.short_name %>
          <% if (!card.in_cycle.nil?) %> , <%= card.in_cycle %>
          <% end %>
        )
        </td>
        <td><%= cd.select :card_status, options_from_collection_for_select(s, "status", "status",:selected=>saved_status)  %></td>
        <td> <%= cd.select :rationale, options_from_collection_for_select(r, "rationale", "rationale",:selected=>saved_r)  %></td>
        <td><%= cd.text_field(:comments, size: 40) %></td>
        
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<div class="card-footer">
   <div class="actions">
      <%= submit_tag 'Save' %>
   </div>
 </div>  
</div>
  <% end %>

