

<% r_all = Rationale.all %>
<% s_all = Status.all  %>

<% i = 1 %>
<% cycle = params["cycle"] 
   p_type = params["p_type"]
%>
<% review_type = params["review_type"] #1=mid, 2=end 

if (review_type == "1")
  caption = " Mid Cycle Review"
else
  caption = " End of Cycle Review"   
end
params["review_type"] = review_type
params["cycle"] = cycle
%>
<script>
function add_visual() {
     var tbl = document.getElementById('tbl');

    var tr = tbl.getElementsByTagName('tr');
    for (var i = 0; i < tr.length; i++) {
        var tdlist=tr[i].getElementsByTagName('td');
        for(var j=0; j<tdlist.length; j++)
        {
            var first_td = tdlist[j];
            first_td.style.background = 'RED';
        }
    }
}
    

</script>


<div class="container">
  <div class="card">
    <div class="card-header">
  <%= form_tag(add_cycle_review_index_path, :enctype =>"multipart/form-data") do %>
  
    <h2><%=cycle%> <%=caption%> </h2>
    <%= hidden_field_tag 'p_type', p_type %>
     <%= submit_tag 'Save Cycle Review' %> 
  </div>
  

      <%= hidden_field_tag "review_type", review_type %>
      <%= hidden_field_tag "cycle", cycle %>
</div>
<div class="card-body">
      <% @cards.each do |card| %>
      <div class="row">
        
          
      <%    cr1 = CycleReview.where("card_id=? AND review_type=? AND cycle=?",card.id,review_type,cycle)
          cr = cr1.first
          
          if (cr.nil?)
            saved_status = 'Not Recorded' #card.card_status
            saved_r = 'Not Recorded' #card.rationale
            saved_n = '' #card.comments
          else
            saved_status = cr.status
            saved_r = cr.rationale
            saved_n = cr.notes
          end 
          s = "s" + card.id.to_s + "_0" 
          r = "r" + card.id.to_s + "_0"   
          comment =  "c" + card.id.to_s + "_0" 
      %>
        <div class="col border border-dark">
          <p><b><%= card.title %>
          <% if (p_type.eql? "2") %> ( <%=card.short_name%>,<%= card.in_cycle %>[<%=card.card_type %>]
          <% end %>
        </b> </p>
         
           
            <p><b>Status:</b><br>
            <% s_all.each do |one_s| 
            %>
           
            <%if (one_s.status.eql? saved_status) %>
              <%= radio_button_tag s, one_s.status,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag s, one_s.status, checked = false, options = {} %> 
            <% end %>
            <% if (one_s.status.eql? "In-Progress") %>
             <%= image_tag("Play.png", :alt => 'User Icon', size:"70x30")%>
            <% elsif (one_s.status.eql? "Slow Progress") %>
             <%= image_tag("Slow.png", :alt => 'User Icon', size:"70x30")%> 
            <% elsif (one_s.status.eql? "Paused") %>
             <%= image_tag("Paused.png", :alt => 'User Icon', size:"70x30")%> 
            <% elsif (one_s.status.eql? "Stopped") %>
             <%= image_tag("Stop.png", :alt => 'User Icon', size:"70x30")%> 
            <% elsif (one_s.status.eql? "Done") %>
             <%= image_tag("Done.png", :alt => 'User Icon', size:"70x30")%>
            <% else %>
            <%=one_s.status %>   
            <% end %> 
            <br>
         
          <%end%>
       
           </p>
           <p><b>Rationale:</b>
            <% r_all.each do |one_r| 
            %>
           
            <%if (one_r.rationale.eql? saved_r) %>
              <%= radio_button_tag r, one_r.rationale,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag r, one_r.rationale, checked = false, options = {} %> 
            <% end %>
           <%= one_r.rationale %><br>
           <% end %>
          </p>
        <p><b>Comments:</b><br> <%= text_area_tag comment,  saved_n , :rows => 3, :cols => 20%> </p>    
     
        </div>
     
<%# each track%>
      <% if (p_type.eql? "1") %>
           
       <%
        track_cnt = 0 
        obj = Track.where("card_id='"+card.id.to_s+"'")
        obj.each do |o| 
         track_cnt = track_cnt + 1
         cr1 = CycleReview.where("card_id=? AND obj_id=? AND review_type=? AND cycle=?",card.id,o.id,review_type,cycle)
          cr = cr1.first
          
          if (cr.nil?)
            saved_status = 'Not Recorded'#card.card_status
            saved_r = 'Not Recorded' #card.rationale
            saved_n = '' #card.comments
          else
            saved_status = cr.status
            saved_r = cr.rationale
            saved_n = cr.notes
          end 
           
         s = "s" + card.id.to_s + "_" + o.id.to_s
         r = "r" + card.id.to_s + "_" + o.id.to_s
         comment =  "c" + card.id.to_s + "_" + o.id.to_s
         
        %>
       
       
        <div class="col border border-dark">
        
        <p><b><i>Track: <%= o.track%></i></b></p>
       
          
        <p><b>Status:</b><br>
            <% s_all.each do |one_s| 
            %>
           
            <%if (one_s.status.eql? saved_status) %>
              <%= radio_button_tag s, one_s.status,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag s, one_s.status, checked = false, options = {} %> 
            <% end %>
            <% if (one_s.status.eql? "In-Progress") %>
             <%= image_tag("Play.png", :alt => 'User Icon', size:"70x30")%>
            <% elsif (one_s.status.eql? "Slow Progress") %>
             <%= image_tag("Slow.png", :alt => 'User Icon', size:"70x30")%> 
            <% elsif (one_s.status.eql? "Paused") %>
             <%= image_tag("Paused.png", :alt => 'User Icon', size:"70x30")%> 
            <% elsif (one_s.status.eql? "Stopped") %>
             <%= image_tag("Stop.png", :alt => 'User Icon', size:"70x30")%> 
            <% elsif (one_s.status.eql? "Done") %>
             <%= image_tag("Done.png", :alt => 'User Icon', size:"70x30")%>
            <% else %>
            <%=one_s.status %>   
            <% end %> 
            <br>
         
          <%end%>
       
           </p>
           <p><b>Rationale:</b>
            <% r_all.each do |one_r| 
            %>
           
            <%if (one_r.rationale.eql? saved_r) %>
              <%= radio_button_tag r, one_r.rationale,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag r, one_r.rationale, checked = false, options = {} %> 
            <% end %>
           <%= one_r.rationale %><br>
           <% end %>
          </p>
        <p><b>Comments:</b><br> <%= text_area_tag comment,  saved_n , :rows => 3, :cols => 20%> </p>    
          
        </div>
        <% end #each track %>
         <% 
        track_cnt = 4-track_cnt 
        while (track_cnt > 0) do
            track_cnt = track_cnt-1
        %>
         <div class="col border border-light"></div>
        <% end #while %>
        <% end #if ptype %>
        </div>
       
      <% end # each card%>
    
    </div>

<div class="card-footer">
   <div class="actions">
      <%= submit_tag 'Save Cycle Review' %>
   </div>
  <% end #form%>
</div>
</div>
</div>
 

