<%

 cycle = params["cycle"]

  
 if (cycle.nil?)
  cur_cycle = Cycle.where("current_cycle =1")
  cycle = cur_cycle.first.cycle_name
 end    
atype = 'Strategic'

temp_chips = Chip.order(:uniqname)
    chips = ['']
    temp_chips.each do |t|
      chips << t.uniqname
end
if (@access_flag)
%>

<div class="panel-group" id="accordion">
<div class="card" >
  <div class="card-header">
    <h4 style="padding-bottom: 10px;"> Add/Edit Action Items</h4>
  </div>
  <div class="card-body">
   
   <%
     @cards = Card.where("activity_type LIKE '%Strategic'")

     @cards.each do |one_c|
     	
     	tracks = Track.where("card_id='"+ one_c.id.to_s + "' AND cycle='"+cycle+"'")
      %>
      <%= form_tag(save_alerts_path, :enctype =>"multipart/form-data") do  %>
      <div class="card card-body">
      <p><b><%= one_c.short_name %></b>
<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
<span class="badge badge-primary">+ New</span></a>
      </p>
      <div id="collapse1" class="panel-collapse collapse">
		  <div class="row ml-1"><div class="field">
     	Track: 
     		<%= select_tag "track", options_from_collection_for_select(tracks, "id", "track")  %>
     	Assigned To: 
     		<%= select_tag "owner", options_for_select(chips)  %>	

      
       
   		</div></div>

		<div class="row ml-1">
    	<div class="field">
     	  <%= check_box_tag "nstatus"  %> <%= text_field_tag "nItem", "", size: 75  %> 
   		</div>
		</div>
           <div class="actions">
        <%= hidden_field_tag 'card_id', one_c.id %>
        <%= submit_tag 'Save' %>
      </div>
      <hr>
      </div>
      
      <%
        
     	  @alerts = Alert.where("card_id='"+ one_c.id.to_s + "'").order(created_at: :desc)
        if (@alerts.count >0)
          @alerts.each do |one_a| 
          id = "a"+one_a.id.to_s
          status = "s"+one_a.id.to_s
          owner = one_a.owner
          t_id = one_a.track_id
          track_one = Track.where("id='" + t_id.to_s + "'")  

      %>
        <p>  <i> <% if (!owner.blank?) 
                    owner = "@"+owner 
                    end %>
          <%= owner %> [<%= track_one.first.track %>, <%= one_a.created_at.to_date %>]: </i><br>
          
        	<% if (one_a.status==0 || one_a.status.nil?)%>
        	<%= check_box_tag status, 0  %>
        	<% else %>
        	<%= check_box_tag status, 1, {:checked => "checked"}  %>
        	<% end #if %>
          <%= text_field_tag id, one_a.comments, size: 75  %>
        	 </p>
      <% end  # list all alerts %>
      
      <div class="actions">
      	<%= hidden_field_tag 'card_id', one_c.id %>
        <%= submit_tag 'Update' %>
      </div>
      <% end %>
     </div>
     <p style="padding-top: 5px;"> </p>
     <%  end # form%>
     <% end  #all cards  %>
     </div>
     



</div>
</div>
<%end%>







