<%
    
type = 'Strategic'

temp_chips = Chip.order(:uniqname)
    chips = ['']
    temp_chips.each do |t|
      chips << t.uniqname
end

%>


<div class="card" >
  <div class="card-header">
    <h4 style="padding-bottom: 10px;"> Add/Edit Action Items</h4>
  </div>
  <div class="card-body">
   
   <%
     @cards = Card.where("activity_type LIKE '%Strategic%'")

     @cards.each do |one_c|
     	
     	tracks = Track.where("card_id='"+ one_c.id.to_s + "'")
      %>
      <%= form_tag(save_alerts_path, :enctype =>"multipart/form-data") do  %>
      <div class="card card-body">
      <p><b><%= one_c.short_name %></b></p>
       <div class="row ml-1" style="padding-top: 2px;">
       <div class="field">
         New Action Item:
        
		<div class="row ml-1">
    	<div class="field">
     	Track: 
     		<%= select_tag "track", options_from_collection_for_select(tracks, "id", "track")  %>
     	Assigned To: 
     		<%= select_tag "owner", options_for_select(chips)  %>	
   		</div>
		</div>

		<div class="row ml-1">
    	<div class="field">
     	  <%= check_box_tag "nstatus", 0  %> <%= text_field_tag "nItem", "", size: 75  %> 
   		</div>
		</div>
         
           
      </div>
      </div>
      <hr>
      <%
        
     	  @alerts = Alert.where("card_id='"+ one_c.id.to_s + "'").order(created_at: :desc)
          @alerts.each do |one_a| 
          id = "a"+one_a.id.to_s
          status = "s"+one_a.id.to_s
          owner = one_a.owner
          t_id = one_a.track_id
          track_one = Track.where("id='" + t_id.to_s + "'")  

      %>
        <p>  <i> <%= track_one.first.track %> (<%= one_a.created_at.to_date %>): </i>
        	<% if (one_a.status==0 || one_a.status.nil?)%>
        	<%= check_box_tag status, 0  %>
        	<% else %>
        	<%= check_box_tag status, 1, {:checked => "checked"}  %>
        	<% end #if %>
        	<% if (!owner.blank?) %> @ <% end %>
        	<%= owner %> <%= text_field_tag id, one_a.comments, size: 75  %> </p>
      <% end  # list all alerts %>
      <hr>
      <div class="actions">
      	<%= hidden_field_tag 'card_id', one_c.id %>
        <%= submit_tag 'Save' %>
      </div>
     </div>
     <p style="padding-top: 5px;"> </p>
     <%  end # form%>
     <% end  #all cards  %>
     
     



</div>
</div>







