
<%

nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec'] 
cycle = params["cycle"]
cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
s = cur_cycle.first.start.month

months = ['','','','','']
i = 1
while (i<=4) do
  months[i] = nameofmonths[s]
  i = i + 1
  s = s+1 
  if (s>12)
    s= 1
  end
end 

str = "card_id = '" + @card_one.first.id.to_s + "' AND cycle ='"+cycle+"'" 
    tracks = Track.where(str) 
    str2 = "cycle ='" + cycle + "'"
    temp_chips = Chip.where(str2).order(:uniqname)
    chips = ['']
    temp_chips.each do |t|
      chips << t.uniqname
    end

%>

<h4 style="padding-bottom: 10px;"> <%=cycle%> Add/Edit Resources for: <%=params["epic"]%></h4>
    
<div class="card">
  <% if (tracks.count <=0)
    %>
<p> Error: No tracks found. Please create tracks before assigning staff (Setup -> Strategic Tracks) </p>
    <% else 
  %>  
  <div class="card-header">
    <b>Add:</b>
  </div>
  <div class="card-body">
<%= form_tag(save_resources_chip_assignment_index_path, :enctype =>"multipart/form-data") do  %>

 <div class="row ml-1">

    <div class="field">
     Track: 
     <%= select_tag "track", options_from_collection_for_select(tracks, "track", "track")  %>
   </div>
</div>

 <div class="row ml-1">
    <div class="field">
     Month: 
     <%= select_tag "month1", options_for_select(months)  %>
 
     Uniqname:
     <%= select_tag "uniqname1", options_for_select(chips)  %>
      Number of chips:
     <%= text_field_tag 'num_chips1', value='1' %> (1-4 chips)
   </div>
</div>

<div class="row ml-1">
    <div class="field">
     Month: 
     <%= select_tag "month2", options_for_select(months)  %> 
     Uniqname:
     <%= select_tag "uniqname2", options_for_select(chips)  %>
      Number of chips:
     <%= text_field_tag 'num_chips2', value='1' %> (1-4 chips)
   </div>
</div>

<div class="row ml-1">
    <div class="field">
     Month: 
     <%= select_tag "month3", options_for_select(months)  %> 
     Uniqname:
     <%= select_tag "uniqname3", options_for_select(chips)  %>
      Number of chips:
     <%= text_field_tag 'num_chips3', value='1' %> (1-4 chips)
   </div>
</div>

<div class="row ml-1">
    <div class="field">
     Month: 
     <%= select_tag "month4", options_for_select(months)  %> 
     Uniqname:
     <%= select_tag "uniqname4", options_for_select(chips)  %>
      Number of chips:
     <%= text_field_tag 'num_chips4', value='1' %> (1-4 chips)
   </div>
</div>

 

      <div class="actions">
        <%= hidden_field_tag 'epic', params["epic"] %>
        <%= hidden_field_tag 'cycle', params["cycle"] %>
        <%= submit_tag 'Save' %>
      </div>

     <% 
       end 
     %>
   <hr>
    <p><b>Non LIT Members:</b></p>
    <% nonl = Nonlit.where("card_id='"+@card_one.first.id.to_s+"' AND cycle='"+params["cycle"]+"'")%>
    <% if (nonl.count >0) %>
    <%= form_tag(edit_nonlit_index_path, :enctype =>"multipart/form-data") do %>
    <% 
       nonl.each do |ext|
        t_id = ext.track_id
        tname = Track.where("id='"+t_id.to_s+"' AND cycle='"+cycle+"'")

    %>
    <p><%= check_box_tag ext.id, 1 %> <%=ext.fname%> <%=ext.lname %> 
      <% if !tname.first.nil? %>
      [<%=tname.first.track%>]
      <% end %>
    </p>
    <% end %>
    <p><%= hidden_field_tag 'card_id', @card_one.first.id.to_s %>
    <%= hidden_field_tag 'cycle', params["cycle"] %>
    <%= submit_tag 'Delete Selected' %></p>
    <% end %>
    <% end #if count>0 %>

    <%= form_tag(save_nonlit_index_path, :enctype =>"multipart/form-data") do %>
    <%= hidden_field_tag 'card_id', @card_one.first.id.to_s %>
    <%= hidden_field_tag 'cycle', params["cycle"] %>
    Track: <%= select_tag "track", options_from_collection_for_select(tracks, "track", "track")  %>&nbsp; First Name: <%= text_field_tag 'fname', value='' , :required => true%>&nbsp; Last Name: <%= text_field_tag 'lname', value='' , :required => true %>
    <%= submit_tag 'Add' %>
                  
    <% end%> 

</div>
</div>
<p style="padding-top: 10px"></p>
<div class="card">
  <div class="card-header">
    <b>Edit:</b>
  </div>
  <div class="card-body">
<%#------%>

  <% @tracks.all.each do |t| 
   
  %> 

     <h6><%=t.track%></h6>
    <div class="card card-body"> 
   
    <p><b><i>Consultants:</b> </i>

    <%
     str = "card_id = '" + @card_one.first.id.to_s + "' AND cycle= '" + cycle + "' AND trackname = '"+ t.track + "'" 
      @consult = Consultant.where(str)
     %> 
     <% count = @consult.count %>
     <% i = 1 %>
     <% @consult.each do |one| %>
     <%=one.uniqname%>
       <% if (i < count) %>
         ,
       <% end %>
     <% i = i + 1 %>  
     <% end %>
   </p>
       
        <%= form_tag("/cards/edit_consultants", :enctype =>"multipart/form-data") do %>
                <div class="actions">
                  <%= hidden_field_tag 'cycle', params["cycle"] %>
                  <%= hidden_field_tag 'epic', @card_one.first.short_name %>
                  <%= hidden_field_tag 'track', t.track %>
                  <%= submit_tag 'Add/Edit Consultants' %>
                </div>
    <% end %>
    <hr>
  
  <%= form_tag("update_resources", :enctype =>"multipart/form-data") do  %> 
 
  <div class="row">
    <% j = 0
       i = 0 
       while (j<4) do 
       j = j + 1 
       i = i +1 
       month = months[i]
    %>
    <div class="col-md-3">
   <p><strong><%= month %></strong></p>
   <%= hidden_field_tag 'epic', params["epic"] %>
   <%= hidden_field_tag 'cycle', params["cycle"] %>
   <%= hidden_field_tag 'track', t.track %>
   <%= hidden_field_tag 'card_id', @card_one.first.id %>
   
   <%   

    str = "card_id = '" + @card_one.first.id.to_s + "' AND cycle='" + cycle +"' AND trackname='" + t.track + "' AND month='" + month +"'"
    
    @chips = ChipAssignment.where(str)

      @chips.all.each do |chip| %>
      <p>
      <% if chip.chips != nil 
           fte = (chip.chips/4.00)
         else
           fte = 0 
         end   

         uniqname_str = chip.uniqname + j.to_s%>
      <%= chip.uniqname %>: <%= fte %> FTE <br> <%= text_field_tag uniqname_str, value=chip.chips, :size=>"5"%> chips
      </p> 
    
     
     <% 
      end  #all chips assignment %>
      
   </div>
 
      
      <% end # for columns  %>

     
</div>

   <%= submit_tag 'Update' %>
</div>
<p style="padding-top: 5px"></p>
 <%end # form %>
<% end%>
<% end # if tracks exists%>
</div>
</div>






