
<%
nameofmonths = ['','January', 'February','March','April','May','June','July','August', 'September','October','November','December']
cycle = params["cycle"]
cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
s = cur_cycle.first.start.month

months = ['','','','','']
i = 1
while (i<=4) do
  months[i] = nameofmonths[s]
  i = i + 1
  s = s+1 
  if (s>12)
    s= 1
  end
end 

%>

<h4 style="margin-bottom: 20px;"> <%=cycle%> Update Resources for: <%=params["epic"]%></h4>


  <%= form_tag(update_resources_chip_assignment_index_path, :enctype =>"multipart/form-data") do  %> 
 <div class="card" style="padding-top: 5px">
   
 <div class="card-body"> 
  <p><b><i>Edit Staff Chips:</i></b>
  <div class="row">

    <% j = 0
       i = 0 
       while (j<4) do 
       j = j + 1 
       i = i +1 
       month = months[i]
    %>
    <div class="col-md-3">
   <p><strong><%= month %></strong></p>
   <%= hidden_field_tag 'epic', params["epic"] %>
   <%= hidden_field_tag 'cycle', cycle %>
   <%= hidden_field_tag 'track', "" %>
   <%= hidden_field_tag 'card_id', @card_one.first.id %>
   
   <%   row = 0

    str = "card_id = '" + @card_one.first.id.to_s + "' AND cycle='" + cycle + "' AND month='" + month +"'"
    
    @chips = ChipAssignment.where(str)

      @chips.all.each do |chip| %>
      <p>
      <% if chip.chips != nil 
           fte = (chip.chips/4.00)
         else
           fte = 0 
         end   
         uniqname_str = chip.uniqname + j.to_s %>
      <%= chip.uniqname %>: <%= fte %> FTE <br> <%= text_field_tag uniqname_str, value=chip.chips, :size=>"5"%> chips
      </p> 
    
     
     <% 
      end  #all chips assignment %>
      
   
 </div>
      
 <%end # form %>


     
</div>

   <%= submit_tag 'Update' %>

</div>

<% end%>
</div>
<div class="card card-body"> 
 
<p><b><i>Add Staff Chips:</i></b>
    <%= form_tag(add_resource_chip_assignment_index_path, :enctype =>"multipart/form-data") do  %>
     <%= hidden_field_tag 'epic', params["epic"] %>
     <%= hidden_field_tag 'cycle', params["cycle"] %>
     <%= hidden_field_tag 'card_id', @card_one.first.id %>
     <%= submit_tag 'Add Resources' %>
   <% end %>
</div>

<div class="card card-body"> 
 
<p><b><i>Consultants:</i></b>

    <%
     str = "card_id = '" + @card_one.first.id.to_s + "' AND cycle= '" + cycle + "' " 
      @consult = Consultant.where(str)
     %> 
     <% count = @consult.count %>
     <% i = 1 %>
     <% @consult.each do |one| %>
     <%=one.uniqname%>
       <% if (i < count) %>
         ,
       <% end %>
     <% i = i + 1 %>  
     <% end %>
   </p>
   <%= form_tag("/cards/edit_consultants", :enctype =>"multipart/form-data") do %>
                
                  <%= hidden_field_tag 'cycle', params["cycle"] %>
                  <%= hidden_field_tag 'epic', @card_one.first.short_name %>
                  <%= hidden_field_tag 'track', "" %>
                  <%= submit_tag 'Add/Edit Consultants' %>
                
    <% end %>

</div>






