<div class="jumbotron text-center">
  
  <p class="lead"> LIT Cycle Management Tool: Track work from intake to close</p>
  <p class="lead">Take - Rate - Assess - Communicate - Close </p>

  <p>
    <%#= link_to 'Process Documentation', '', class: 'btn btn-primary' %>
  </p>
</div>
<% cards = Card.all %>

<% cycles = Array.new  %>
<% cards.each do | value |   %>
 
    <%  cycles <<  value.in_cycle %>
  

<% end  %>

<% cycle_hash = {}  %>
<% cycles.uniq.each{|e| cycle_hash[e]= cycles.count(e)}  %>

<% data_array_1 = Array.new  %>
<% data_array_2 = Array.new  %>
<% cycle_hash.each do | cycle, count |  %>
<%  data_array_1 << cycle  %>
<%  data_array_2 << count %>
<% end %>

<% labels = "" %>
<% data_array_1.each do | value |  %>
<%  labels << value + "|"  %>
<% end %>
<%# labels.slice!(labels.length-1,labels.length) %>

<% label = Array.new %>
<% label << labels %>
<% label2 = Array.new %>
<% label2 << label %>

  <% test_data = Gchart.bar( %>
                  <% :size => '600x400', %>
                  <% :bar_colors => ['ec8f6e'], %>
                  <% :title => "Cycles and Requests", %>
                  <% :bg => 'EFEFEF', %>
                  <% :legend => data_array_1, %>
                  <% :data => [data_array_2], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 50, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [70,6], %>
                  <% :axis_labels => label2, %>
                  <% ) %>

  <% test_data2 = Gchart.line( %>
                  <% :size => '600x400', %>
                  <% :bar_colors => ['ec8f6e'], %>
                  <% :title => "Work Status", %>
                  <% :bg => 'EFEFEF', %>
                  <% :legend => data_array_1, %>
                  <% :data => [[1, 2, 3, 4, 5], [5, 4, 3, 2, 1] ], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 10, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [70,6], %>
                  <% :axis_labels => label2, %>
                  <% ) %>                

<% test_data3 = Gchart.pie_3d( %>
                  <% :size => '600x400', %>
                  <% :title => "Work Status", %>
                  <% :bar_colors => ['ec8f6e'], %>
                  <% :bg => 'ffffff', %>
                  <% :legend => ['On-Hold','In-Progress','Done','Waiting','Behind Sch','Archived'], %>
                  <% :data => [data_array_2], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 50, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [70,6], %>
                  <% :axis_labels => ['On-Hold | In-Progress  | Done | Waiting | Behind Sch | Archived'] %>
                  <% ) %>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Stats: New Requests
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <%= image_tag test_data %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Complexity and Impact
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <%= image_tag test_data2 %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Stats: Work Status
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <%= image_tag test_data3 %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Recently updated In-Progress Cards
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
      <div class="card" >



       <ul class="list-group list-group-flush">
   
        <% 
          d = DateTime.now - 1.month

          Card.all.each do |c| 
          cstatus = c.card_status
          dtime = c.updated_at
          
          if !dtime.nil?
            if dtime > d 
              id = c.id 
              url ="cards/" + id.to_s
        %> 
         <li class="list-group-item"><a href=<%=url%> ><%= c.title %></a></li>
            
            <% end
             end
          end 
          %>
        </ul>
       </div>    
      </div>
    </div>
  </div>
</div>


