<%
cur_cycle = Cycle.where("current_cycle =1")
 cycle = cur_cycle.first.cycle_name

%>

<div class="jumbotron text-center" style="margin-top: 10px;" >  

 
  <h2><b>T</b>ake - <b>R</b>ate - <b>A</b>ssess - <b>C</b>ommunicate - <b>C</b>lose </h3>
  <h3><i>track projects from intake to close</i></h2>
  
  <p>
    <%#= link_to 'Process Documentation', '', class: 'btn btn-primary' %>
  </p>
  <div class="navbar-search navbar navbar-light bg-faded" role="navigation">
  <div class="<%= container_classes %>" style="margin-top: 30px;">
     <p align="center"><%= render_search_bar  %></p>
  </div>
</div>
</div>

<div class="card">
  <div class= "card-header"><h3 align="center">  <%=cycle%> Dashboards</h3></div>
  <div class="card-body">
    <div class="row">
      <div class="col"><p align="center"><%= image_tag('Strategic-dashboard.png', alt: "Link to Public strategic dashboard", size: "200x300", :style => "border: 1px solid black") %><br><b><%= link_to "Strategic", "/dashboard/dashboard" , {:style=>'color:#1D7491; text-decoration:underline'} %></b></p></div>
      <div class="col"><p align="center"><%= image_tag('Tactical-dashboard.png', alt: "Link to Public tactical dashboard", size: "200x300", :style => "border: 1px solid black") %><br><b><%= link_to "Tactical", "/dashboard/tactical" , {:style=>'color:#1D7491; text-decoration:underline'} %></b></p></div>
      <div class="col"><p align="center"><%= image_tag('CyclePlanningBoard.png', alt: "Link to Cycle Planning Board", size: "200x300", :style => "border: 1px solid black") %><br><b><%= link_to "Cycle Planning Board", "/dashboard/cycle_board" , {:style=>'color:#1D7491; text-decoration:underline'} %></b></p></div>
    </div>
  </div>  
</div>





