<%


@card_paused = Card.where("activity_type LIKE '%Paused%' ")
@card_active = Card.where("activity_type LIKE '%Active%' ")
@card_epic = Card.where("activity_type LIKE 'Strategic' ")

%>

<div class="jumbotron text-center" style="padding-top: 50px;" >  
  <p class="lead"> LIT Cycle Management Tool: Track work from intake to close</p>
  <p class="lead">Take - Rate - Assess - Communicate - Close </p>

  <p>
    <%#= link_to 'Process Documentation', '', class: 'btn btn-primary' %>
  </p>
</div>

<div style="padding-bottom: 20px;">
<%= render_search_bar  %>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Strategic Projects
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <ul class="list-group list-group-flush">
   
        <% 
          @card_epic.all.each do |c| 
          cstatus = c.card_status
         
              id = c.id 
              url ="catalog/" + id.to_s
        %> 
         <li class="list-group-item"><a href=<%=url%> ><%= c.title %></a></li>
            
            <% end %>
        </ul>

  
</div>
</div>
  <div class="card">
    <div class="card-header" id="heading1">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ext1" aria-expanded="false" aria-controls="ext1">
          Tactical Projects - Active
        </button>
      </h5>
    </div>

    <div id="ext1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
      <div class="card-body">
        
         <ul class="list-group list-group-flush">
   
        <% 
          @card_active.all.each do |c| 
          cstatus = c.card_status
         
              id = c.id 
              url ="catalog/" + id.to_s
        %> 
         <li class="list-group-item"><a href=<%=url%> ><%= c.title %></a></li>
            
            <% end %>
        </ul>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading11">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ext11" aria-expanded="false" aria-controls="ext11">
          Tactical Projects - Paused
        </button>
      </h5>
    </div>

    <div id="ext11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
      <div class="card-body">
        
         <ul class="list-group list-group-flush">
   
        <% 
          @card_paused.all.each do |c| 
          cstatus = c.card_status
         
              id = c.id 
              url ="catalog/" + id.to_s
              ctype = c.activity_type
        %> 
         <li class="list-group-item"><a href=<%=url%> ><%= c.title %></a></li>
            
            <% end %>
        </ul>

      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="heading2">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ext2" aria-expanded="false" aria-controls="ext2">
          Operational Work
        </button>
      </h5>
    </div>

    <div id="ext2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
      <div class="card-body">
        
       


      </div>
    </div>
  </div>





