<% 

cur_cycle = Cycle.where("current_cycle=true")
if (cur_cycle.nil?)
	cycle =""
else 	
cycle = cur_cycle.first.cycle_name
end 
%>
<p style="padding-top: 85px"></p>
<div class="card">
  <div class="card-header">
   <h5>Objectives (<%= cycle %>)</h5>
  </div>
  <div class="card-body">

<% card_id = params["id"]
   str = "card_id ='"+card_id+"' AND cycle='"+ cycle + "'"
   o_one = Objective.where(str)

   o_one.each do |o|
   ostatus = o.status 
%>
   <p><%= o.objective.html_safe %>
    <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
      </p>
<%    
   end 
%>
</div>
</div>