
<% 
access_level = check_current_access
super_or_admin = (access_level == 0 || access_level == 1) ? true : false
disable_str = super_or_admin ? " " : "disabled"

comments = Comment.where("card_id='" + @document.id + "'")

cur_cycle = Cycle.where("current_cycle =1")
cycle = cur_cycle.first.cycle_name

str = "card_id='" + @document.id + "' AND cycle='"+ cycle + "'"
@c_st = TrackComment.where(str)

if (!@c_st.nil?)
  one = @c_st.first
end 

months = get_months(cycle)
%>

<% doc_presenter = show_presenter(document) %>
<div class="card">
  <div class="card-header">
    <h2 class="mb-0 h6 d-inline-block">Details</h2>
    <% if super_or_admin %>
      <% @card_one = Card.find( document.id ) %>
      <a href=<%= edit_card_path(@card_one) %> class="btn btn-outline-secondary btn-sm d-inline-block float-right" style="color:inherit;" role="button">Edit</a>
    <% end %>
    </div>
  <div class="card-body">

<%# default partial to display solr document fields in catalog show view -%>

    <% doc_presenter.fields_to_render.each do |field_name, field| -%>
    <div class="row" style="margin-bottom:20px;">
      <div class="col-md-3"><%= render_document_show_field_label document, field: field_name %></div>
      <% one_value = CGI.unescapeHTML  doc_presenter.field_value field %>
      <div class="col-md-9"><%= one_value.html_safe  %></div>
    </div>
    <% end -%>
  </div>
</div>

<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header comments">
      <h2 class="mb-0 h6 d-inline-block">Additional Notes</h2>
    </div>
     
    <%# List comments for this card %>
    <ul class="list-group list-group-flush">

      <% if comments.first.nil?%>
        <li class="list-group-item">
          <em>None</em>
        </li>
      <% else %>
        <% comments.each do |comm| %>
          <li class="list-group-item">
            <%= comm.comment_txt%>
          </li>
        <% end %>
        <% end %>

        <%# if super or admin allow adding of items %>
        <% if super_or_admin %>
          <!--Material textarea-->
          <%= form_tag("add_comment", :enctype =>"multipart/form-data", :method => :post ) do %>
            <li class="list-group-item">
              <div class="comment-entry-group">
                <div class="md-form form-group purple-border">
                  <input type="hidden" id="card_id" name="card_id" value=<%= @document.id %> />
                  <input type="hidden" id="uemail" name="uemail" value=<%= @document["uemail"] %>  />
                  <input type="hidden" id="recorded_on" name="recorded_on" value=<%= Date.today %>  />
                  <label for="comment_txt">Add a note:</label>
                  <input type="text" id="comment_txt" name="comment_txt" class="entry comment_txt form-control" />
                </div>
              </div>
            <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block form-button add-comment">Save</button></li>
          <% end %>
        <% end %>
     
    </ul>
</div>

<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header comments">
      <h2 class="mb-0 h6 d-inline-block">Comments (Current Cycle <%= cycle %>)</h2>
    </div>
     <ul class="list-group list-group-flush">
        <li class="list-group-item">
   <p><strong><%= months[1][0..2] %>:</strong><br><% if one != nil %><%=one.comment1.html_safe%><% end %></p></li>
   <li class="list-group-item"> <p><strong><%= months[2][0..2] %>:</strong><br><% if one != nil %><%=one.comment2.html_safe%><% end %></p></li>
   <li class="list-group-item"><p><strong><%= months[3][0..2] %>:</strong><br><% if one != nil %><%=one.comment3.html_safe%><% end %></p></li>
   <li class="list-group-item"><p><strong><%= months[4][0..2] %>:</strong><br><% if one != nil %><%=one.comment4.html_safe%><% end %></p></li>
 </ul>
     
  </div>      
