<script type="text/javascript">
$(document).on('ready page:load', function() {

  // handle return key inside save text boxes
  $("input.entry").keypress(function(event){
  
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13') {
      if ( ! ( $(this).hasClass("mstone") || $(this).hasClass("comment_txt") || $(this).hasClass("objective") ) ) {
          return;
      } 

      // check for empty entry
      if (not_empty(this)) {
          $(this).parents('form').submit();
      } else {
        alert("You may not submit an empty entry.")
      }
    }
  });


  // handle save button events
  $(".form-button").click(function() {
    var classes = $(this).attr('class')
    var entry_el = ""
    if ( $(this).hasClass("add-milestone") ) {
          entry_el = ".mstone"; }
    else if ( $(this).hasClass("add-comment") ) {
          entry_el = ".comment_txt"; 
        }
    else if ( $(this).hasClass("add-objective") ) {
          entry_el = ".objective"; 
        }
    else {
      return;
    }

    // check for empty entry
    if (not_empty(entry_el)) {
        $(this).parents('form').submit();
      } else {
        alert("You may not submit an empty entry.")
      }
  });

  $(".mstone-checkbox").on("click", function (){
    $(this).parents('form').submit();
  });

    $(".objtv-checkbox").on("click", function (){
    $(this).parents('form').submit();
  });

  function not_empty(el) {
    str = $(el).val();
    str = $.trim(str);
    return (str.length > 0)
  }

});
</script>

<% 
access_level = check_current_access
super_or_admin = (access_level == 0 || access_level == 1) ? true : false
disable_str = super_or_admin ? " " : "disabled"

mstones  = Milestone.where("card_id='" + @document.id + "'")
objectives = Objective.where("card_id='" + @document.id + "'")
%>

<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header objectives">
      <h2 class="mb-0 h6 d-inline-block">Objectives:</h2>
    </div>
     
    <%# List comments for this card %>
    <ul class="list-group list-group-flush">

      <% if objectives.first.nil?%>
        <li class="list-group-item">
          <em>No objectives</em>
        </li>
      <% else %>
        <% objectives.each do |objtv| %>
          <li class="list-group-item">
            <%= form_tag("update_objective_check", :enctype =>"multipart/form-data", :class => "objtv-form", :method => :post ) do %>
              <div class="form-check pl-0" >
                <label class="checkbox-inline">
                  <%# chk_status = (objtv.status == 1) ? "checked" : "" %>
                  <input type="hidden" id="objective_id" name="objective_id" value=<%= objtv.id %> />
                  <input type="hidden" id="objtv_objective" name="objtv_objective" value=<%= objtv.objective %> />
                 <!-- <input type="checkbox" class="objtv-checkbox" value="status" <%#= chk_status %> <%#= disable_str %> >  <%#= objtv.objective %> -->
                 <%= objtv.objective %>
                </label>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>

        <%# if super or admin allow adding of items %>
        <% if super_or_admin %>
          <!--Material textarea-->
          <%= form_tag("add_objective", :enctype =>"multipart/form-data", :method => :post ) do %>
            <li class="list-group-item">
              <div class="objective-entry-group">
                <div class="md-form form-group purple-border">
                  <input type="hidden" id="card_id" name="card_id" value=<%= @document.id %> />
                  <input type="hidden" id="cycle" name="cycle" value=<%= @document["in_cycle_ssi"] %>  />
                  <input type="hidden" id="recorded_on" name="recorded_on" value=<%= Date.today %>  />
                  <label for="objective">Add an objective:</label>
                  <input type="text" id="objective" name="objective" class="entry objective form-control" />
                  <label class="checkbox-inline">
                    
                  <!-- <input type="checkbox" id="status" name="status">  Already done</label> -->
                </div>
              </div>
            <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block form-button add-objective">Save</button></li>
          <% end %>
        <% end %>

    </ul>

</div>


<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header mstones">
      <h2 class="mb-0 h6 d-inline-block">Milestones:</h2>
    </div>

    <%# List milestones for this card %>
    <ul class="list-group list-group-flush">

      <% if mstones.first.nil?%>
        <li class="list-group-item">
          <em>No milestones</em>
        </li>
      <% else %>
        <% mstones.each do |stone| %>
          <li class="list-group-item">
            <%= form_tag("update_milestone_check", :enctype =>"multipart/form-data", :class => "mstone-form", :method => :post ) do %>
              <div class="form-check pl-0" >
                <label class="checkbox-inline">
                  <%# chk_status = (stone.status == 1) ? "checked" : "" %>
                  <input type="hidden" id="mstone_id" name="mstone_id" value=<%= stone.id %> />
                  <input type="hidden" id="mstone_milestone" name="mstone_milestone" value=<%= stone.milestone %> />
                 <input type="checkbox" class="mstone-checkbox" value="status" <%= chk_status %> <%= disable_str %> >  <%= stone.milestone %>
                </label>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>

        <%# if super or admin allow adding of items %>
        <% if super_or_admin %>
          <!--Material textarea-->
          <%= form_tag("add_milestone", :enctype =>"multipart/form-data", :method => :post ) do %>
            <li class="list-group-item">
              <div class="mstone-entry-group">
                <div class="md-form form-group purple-border">
                  <input type="hidden" id="card_id" name="card_id" value=<%= @document.id %> />
                  <input type="hidden" id="in_cycle" name="in_cycle" value=<%= @document["in_cycle_ssi"] %>  />
                  <input type="hidden" id="recorded_on" name="recorded_on" value=<%= Date.today %>  />
                  <label for="mstone">Add a milestone:</label>
                  <input type="text" id="mstone" name="mstone" class="entry mstone form-control" />

                  <label class="checkbox-inline">
                  <input type="checkbox" id="status" name="status">  Already done</label>
                </div>
              </div>
            <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block form-button add-milestone">Save</button></li>
          <% end %>
        <% end %>

    </ul>

</div>
