
<h4><b></b></h4>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
    	<h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <%= @one_card.i_or_p %>: <%= @one_card.title %>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
     <ul class="list-group list-group-flush">
       <li class="list-group-item">Short Name: <%= @one_card.short_name%> </li> 
       
       <li class="list-group-item"> Request Type: <%= @one_card.request_type %></li> 
       <li class="list-group-item">Requester: <%= @one_card.requester_name%> Division: <%=@one_card.requester_div%> Email:  <%= @one_card.requester_email  %></li>
     </ul>
     </div>
   </div>
    <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Details:
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
         <ul class="list-group list-group-flush">
  	   <li class="list-group-item">Description: <%= @one_card.short_description %></li>	
       <li class="list-group-item">at_stake = <%= @one_card.at_stake %></li>
<li class="list-group-item">at_stake_details = <%= @one_card.at_stake_details %></li>
<li class="list-group-item">ext_pressure = <%= @one_card.ext_pressure %></li>
<li class="list-group-item">ext_pressure_details = <%= @one_card.ext_pressure_details %></li>
<li class="list-group-item">non_tech = <%= @one_card.non_tech %></li>
<li class="list-group-item">non_tech_detatils = <%= @one_card.non_tech_details %></li>
<li class="list-group-item">time_constraints = <%= @one_card.time_constraints %></li>
<li class="list-group-item">time_constraints_details = <%= @one_card.time_constraints_details %></li>
<li class="list-group-item">priority = <%= @one_card.priority  %></li>
<li class="list-group-item">sponsor = <%= @one_card.sponsor %></li>
<li class="list-group-item">more_info = <%= @one_card.more_info %></li>
<li class="list-group-item">short_name = <%= @one_card.short_name %></li>
<li class="list-group-item">start_cycle = <%= @one_card.start_cycle %></li>
<li class="list-group-item">done_cycle = <%= @one_card.done_cycle %></li>
<li class="list-group-item">exp_start_month = <%= @one_card.exp_start_month %></li>
<li class="list-group-item">exp_end_month = <%= @one_card.exp_end_month %></li>
<li class="list-group-item">lib_divisions = <%= @one_card.lib_divisions %></li>
<li class="list-group-item">card_status = <%= @one_card.card_status %></li>
<li class="list-group-item">ext_link = <%= @one_card.ext_link %></li>
<li class="list-group-item">lit_lead = <%= @one_card.lit_lead %></li>
<li class="list-group-item">lit_depts = <%= @one_card.lit_depts %></li>
<li class="list-group-item">service_lead = <%= @one_card.service_lead %></li>
<li class="list-group-item">other_contacts = <%= @one_card.other_contacts %></li>
<li class="list-group-item">comments = <%= @one_card.comments %></li>
<li class="list-group-item">card_since = <%= @one_card.card_since %></li>
<li class="list-group-item">recorded_on = <%= @one_card.recorded_on %></li>
<li class="list-group-item">created_at = <%= @one_card.created_at %></li>
<li class="list-group-item">updated_at = <%= @one_card.updated_at %></li></li>
    
       </ul>
      </div>
    </div>
  </div>
   
     <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Strategic Sorting:
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      	 <ul class="list-group list-group-flush">
         <li class="list-group-item"><%= @one_card.short_description %></li>	
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Complexity Rating:
        </button>
      </h5>
    </div>
     <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
  
       <ul class="list-group list-group-flush">

  	   <li class="list-group-item">Investigation Scope:<%= @one_card.investigation_scope %></li>	
       <li class="list-group-item">Tech Knowledge: <%= @one_card.tech_knowledge %></li>
       <li class="list-group-item">Team Scope: <%= @one_card.team_scope %></li>
       <li class="list-group-item">Infrastructure: <%= @one_card.infrastructure %></li>
       <li class="list-group-item">Application: <%= @one_card.application %></li>
       <li class="list-group-item">Front End: <%= @one_card.front_end %></li>
       <li class="list-group-item">Content: <%= @one_card.data_content %></li>
       <li class="list-group-item">Total Complexity Score: <%= @one_card.total_complexity_score %></li>
       <li class="list-group-item">Cost: <%= @one_card.cost %> </li>

       <li class="list-group-item">Divergence:<%= @one_card.divergence%></li>
       <li class="list-group-item">Staff Resources: <%= @one_card.staff_resources%></li>
       <li class="list-group-item">Money: <%= @one_card.money%></li>
       <li class="list-group-item">Operational: <%= @one_card.operational%></li>
       <li class="list-group-item">Total Cost Score: <%= @one_card.total_cost_score%></li>
       <li class="list-group-item">Weighted Score: <%= @one_card.weighted_score%></li>
       <li class="list-group-item">Notes: <%= @one_card.complexity_notes%></li>
       </ul>
   </div> 
</div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Impact Rating:
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
      	 <ul class="list-group list-group-flush">
         <li class="list-group-item"><%= @one_card.short_description %></li>	
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       <li class="list-group-item"></li>
       </ul>
      </div>
    </div>
  </div>
</div>
    
  	   
  	 
     



