<h4></h4>
<h4> Add/Update Complexity Rating </h4>

<% cnt=0 
#   cost <%=one_card.operational     

%>

<% if (params['activity_type'] == "Investigations") %>
<h5> <%= params["cycle"] %> Investigations: </h5>
   <div class="table">

<%= form_tag("update", :enctype =>"multipart/form-data") do  %>

    <table class="table-bordered">
      <thead><th width="33%">Title</th>
        <th width="7%">Investigation<br>Scope</th>
        <th width="7%">Technical <br>Knowledge/Expertise</th>
        <th width="7%">Team Scope</th>
        <th width="7%">Total Complexity Score</th>
        <th width="7%">Cost</th>
        <th width="7%">Divergence from Platform</th>
        <th width="7%">Total Cost Score</th>
        <th width="7%">Weighted Effort Score</th>
      </thead>
      <% 
        cnt = 0
        @all_cards.each do |one_card|
        if (one_card.i_or_p == "Investigation")
          cnt+=1
      %>
        <tr>
          <td width="30%"><%= cnt %>. <%=one_card.title%></td>
          <% proc = "update_score(" + one_card.id.to_s  + ")" %>
          <td width="7%"><%= select_tag "investigation_scope_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.investigation_scope), :onchange => proc %></td>
          <td width="7%"><%= select_tag "tech_knowledge_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.tech_knowledge), :onchange => proc %></td>
          <td width="7%"><%= select_tag "team_scope_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.team_scope), :onchange => proc %></td>

          <% type = "total_complexity_score_" +  one_card.id.to_s %>
          <td id="<%=type%>" width="7%"><%=one_card.total_complexity_score %></td>
          <td width="7%"><%=one_card.cost %></td>

          <td width="7%"><%= select_tag "divergence_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.divergence), :onchange => proc %></td>  

          <td width="7%"><%=one_card.total_cost_score %></td>
          <td width="7%"><%=one_card.weighted_score %></td>
        </tr>
        <%end%>
      <% end %>

   </table>

<%= submit_tag 'Update' %>
<% end %>
   </div>

<% else %>


  <h5> <%= params["cycle"] %> Projects: </h5> 
 
 <%= form_tag("update", :enctype =>"multipart/form-data") do  %>

    <div class="table">
    <table class="table-bordered">
      <thead><th width="33%">Title</th>
        <th width="7%">Infra-<br>structure</th>
        <th width="7%">Applica-<br>tion</th>
        <th width="7%">Front <br>End <br>Dev/Design</th>
        <th width="7%">Data & Content</th>
        <th width="7%">Team Scope</th>
        <th width="7%">Total Complexity Score</th>
        <th width="7%">Staff<br> Resour-<br>ces</th>
        <th width="7%">Diver-<br>gence from Platform</th>
        <th width="7%">Money</th>
        <th width="7%">Opera-<br>tional</th>
        <th width="7%">Total Cost Score</th>
        <th width="7%">Weighted Effort Score</th>
      </thead>
      <% 
        cnt = 0
        @all_cards.each do |one_card|
        if (one_card.i_or_p == "Project")
          cnt+=1
      %>
        <tr>
          <td width="30%"><%= cnt %>. <%=one_card.title%></td>

          <% proc = "update_score(" + one_card.id.to_s  + ")" %>
          <td width="7%"><%= select_tag "infrastructure_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.infrastructure), :onchange => proc %></td>
          <td width="7%"><%= select_tag "application_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.application), :onchange => proc %></td>
          <td width="7%"><%= select_tag "front_end_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.front_end), :onchange => proc %></td>
          <td width="7%"><%= select_tag "data_content_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.data_content), :onchange => proc %></td>
          <td width="7%"><%= select_tag "team_scope_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.team_scope), :onchange => proc %></td>

          <% type = "total_complexity_score_" +  one_card.id.to_s %>
          <td id="<%=type%>" width="7%"><%=one_card.total_complexity_score %></td>
          
          <td width="7%"><%= select_tag "staff_resources_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.staff_resources), :onchange => proc %></td>
          <td width="7%"><%= select_tag "divergence_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.divergence), :onchange => proc %></td>
          <td width="7%"><%= select_tag "money_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.money), :onchange => proc %></td>
          <td width="7%"><%= select_tag "operational_" +  one_card.id.to_s, options_for_select([['',0], ['low', 1], ['low-medium', 2], ['medium', 3], ['medium-high', 4], ['high', 5]], one_card.operational), :onchange => proc %></td>
          

          <td width="7%"><%=one_card.total_cost_score %></td>
          <td width="7%"><%=one_card.weighted_score %></td>
        </tr>
        <%end%>
      <% end %>

   </table>

<%= submit_tag 'Update' %>
<% end %>

   </div>
  

<%end%>

