<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reports
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="<%= charts_reports_path %>">Project Details</a>
    <hr>
    <a class="dropdown-item" href="<%= chip_assignment_reports_path %>">Staff Allocation</a>
    <hr>
    <a class="dropdown-item" href="<%= objectives_reports_path %>">Strategic Objectives</a>
    <hr>
    <a class="dropdown-item" href="<%= cycle_review_reports_path %>">Cycle Review</a>
    <hr>
    <a class="dropdown-item" href="<%=reports_path %>">Export</a>   
  </div>
</div>