<%
    
if (@approve_access)
  cycle = params["cycle"]
  if cycle.nil?
    cur_cycle = Cycle.where("current_cycle =1")
    cycle = cur_cycle.first.cycle_name
  end 
cname = Cycle.all 
%>


<div class="card" >
  <div class="card-header">
    <h4 style="padding-bottom: 10px;"> Add/Edit Tracks</h4>
    
    <%= form_tag(edit_tracks_cards_path, :enctype =>"multipart/form-data") do  %>
     <div class="row ml-1">
      <div class="field">
     <p>Current Cycle: <%=cycle %></p>
      <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cycle)  %> 
      <%= submit_tag 'Refresh' %>
      </div>
     </div>

    

    <% end %>
  </div>
  <div class="card-body">
   <%= form_tag(save_tracks_cards_path, :enctype =>"multipart/form-data") do  %>
   <%
     @cards = Card.where("activity_type LIKE '%Strategic%'")

     @cards.each do |one_c|
      %>
      <p><b><%= one_c.short_name %></b></p>
      <%
        ntrack = "ntrack" + one_c.id.to_s
        otrack = "otrack"+ one_c.id.to_s
     	  @tracks = Track.where("card_id='"+one_c.id.to_s+"' AND cycle='"+cycle+"'")
        @tracks.each do |one_t| 
          t = "t"+one_t.id.to_s
          o = "o"+one_t.id.to_s
            
      %>
        <p><%= text_field_tag t, one_t.track %> Order:<%= text_field_tag o, one_t.disp_order %></p>
      <% end   %>
      <div class="row ml-1" style="padding-top: 10px;">
       <div class="field">
         Add a Track :<br>
          <%= text_field_tag ntrack, ""  %> Order:<%= text_field_tag otrack, '' %>
      </div>
      </div>
      <hr>
     <% end    %>
    
 

      <div class="actions">
        <%= hidden_field_tag "cycle", cycle %>
        <%= submit_tag 'Save Tracks' %>
      </div>

     <% 
       end 
     %>

</div>
</div>
<% end #if access %>






