<script type="text/javascript">
$(document).ready(function () { 

  $("div.hideable").hide();
  $("span#triangle-down").hide();

  $("#headingTwo").click(function () {
    $("div.hideable").toggle("slow");
    $("span#triangle-down").toggle("fast");
    $("span#triangle-right").toggle("fast");
  });  

});
</script>

<%= form_for(@card_one) do |f| %>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="panel-title">Edit Card:  <em><%= @card_one.short_name %></em></h5>
      <div class="form-buttons" style="margin-top: 20px;">
        <%= f.submit("Update Card") %>
      </div>
      <p style="margin-top: 20px;"> [<%= link_to 'Show Card Info', @card_one %> | <%= link_to 'Back To All Cards', cards_path %>] </p>
      <p style="margin-top: 20px;">Title<br><%= f.text_field(:title, size: 100) %></p>
      <p>Short Name:<br><%= f.text_field(:short_name, size: 60) %></p>
      <p>Description: <br><%= f.text_area(:short_description,  cols: "100", rows: "5") %></p>

      <p>Status:<br>
        <%# Get status keys %>
        <% status = Status.all  %>
        <select class="custom-select custom-select-sm card_status">
          <option selected>Select Card Status</option>
          <% status.each do |st|  %>
            <% selected_str = (@card_one.card_status == st.status) ? "selected" : "" %>
            <option value=<%= st.status %> <%= selected_str %> ><%= st.status %></option>
          <% end  %>
        </select>
      </p>

      <p>LIT Contact:<br><%= f.text_field(:lit_lead, size: 100) %></p>
      <p>Service Lead: <br><%= f.text_field(:service_lead, size: 100) %></p>
      <p>Request Type<i>[New Service, Service Improvement, Consultation, Other]</i><br> <%= f.text_field(:request_type, size: 100) %></p>
      <p>Activity Type: <i>[Investigation, Project, TASC Investigation]</i><br> <%= f.text_field(:activity_type, size: 100) %></p>
  	 <%# <p>In Cycle: <br><%= f.text_field(:in_cycle, size: 100) %>
  	 <%# <p>Start Cycle:<br><%= f.text_field(:start_cycle, size: 100) %>
      <%#<p>Done Cycle:<br><%= f.text_field(:done_cycle, size: 100) %>
      <%#<p>Card Type:<br><%= f.text_field(:card_type, size: 100) %>
      <%#<p>Epic:<br><%= f.text_field(:epic, size: 100) %>
     <!-- 
      <%  
          # Set up month and year arrays
          #months_select_arr = [ "Select Month", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ] 
          #now = Time.current 
          #base_year = (now.year - 2)
          #final_year = (now.year + 5)
          #year_select_arr = []
          #year_select_arr << "Select Year"
          #(base_year..final_year).each { |yr| year_select_arr << yr.to_s }
          # Default array indexes
          #start_month = end_month = start_year = end_year = "0"

          # Parse out db values if they exist
          #unless (@card_one.exp_start_month.nil? || @card_one.exp_start_month == '')
           # start_month = @card_one.exp_start_month.split(" ")[0]
           # start_year = @card_one.exp_start_month.split(" ")[1]
          #end
          #unless (@card_one.exp_end_month.nil? || @card_one.exp_end_month == '')
           # end_month = @card_one.exp_end_month.split(" ")[0]
           # end_year = @card_one.exp_end_month.split(" ")[1]
          #end
      %>

  <p><%#= "year_select_arr: #{year_select_arr}" %></p>
      <p><%#= "months_select_arr: #{months_select_arr}" %></p>
      <p><%#= "card.id: #{@card_one.id}" %></p>
      <p><%#= "card_one.exp_start_month: #{@card_one.exp_start_month}" %></p>
      <p><%#= "start_month: #{start_month}" %></p>
      <p><%#= "start_year: #{start_year}" %></p>
      <p><%#= "card_one.exp_end_month: #{@card_one.exp_end_month}" %></p>
      <p><%#= "end_month: #{end_month}" %></p>
      <p><%#= "end_year: #{end_year}" %></p> -->

   <!--   <p>Expected Start:<br>
        <select class="custom-select custom-select-sm w-50" id="exp_start_month_month" name="exp_start_month_month">
          <% #months_select_arr.each do |month_str|  %>
            <% 
            #selected_str = ''
            #selected_str = 'selected' if (start_month == month_str)
            %>
            <option value=<%#= month_str %> <%#= selected_str %> ><%#= month_str %></option>
          <%# end  %>
        </select>

        <select class="custom-select custom-select-sm w-50" id="exp_start_month_year" name="exp_start_month_year">
          <%# year_select_arr.each do |yr_str|  %>
            <% 
            #selected_str = ''
            #selected_str = 'selected' if (start_year == yr_str)
            %>
            <option value=<%#= yr_str %> <%#= selected_str %> ><%#= yr_str %></option>
          <%# end  %>
        </select>
      </p>
     
      <p>Expected End:<br>
        <select class="custom-select custom-select-sm w-50" id="exp_end_month_month" name="exp_end_month_month">
            <%# months_select_arr.each do |month_str|  %>
            <% 
            #selected_str = ''
            #selected_str = 'selected' if (end_month == month_str)
            %>
            <option value=<%#= month_str %> <%#= selected_str %> ><%#= month_str %></option>
          <%# end  %>
        </select>

        <select class="custom-select custom-select-sm w-50" id="exp_end_month_year" name="exp_end_month_year">
          <%# year_select_arr.each do |yr_str|  %>
            <% 
            #selected_str = ''
            #selected_str = 'selected' if (end_year == yr_str)
            %>
            <option value=<%#= yr_str %> <%#= selected_str %> ><%#= yr_str %></option>
          <%# end  %>
        </select>
      
      </p>
-->
	</div>

        <div class="form-buttons" style="display:block;">
          <%= f.submit("Update Card") %>
        </div>
      
    </div>
  <% end %>
