<p id="notice"><%= notice %></p>

<%#= link_to 'Edit', edit_card_path(@card) %> 
<%#= link_to 'Back', cards_path %>

<p> Import Complexity Ratings</p>

<%= form_tag("import_complexity_ratings", :enctype =>"multipart/form-data") do %>
   <div class="row">
   <div class="field">
     <%= label_tag :file %>
     <%= file_field_tag :file,  :required => true  %>
   </div>
</div>

   <div class="row">
   <div class="actions">
      <%= submit_tag 'Next' %>
   </div>
</div>
<% end %>
