

<script type="text/javascript">
$(document).ready(function () { 

  $("div.hideable").hide();
  $("span#triangle-down").hide();

  $("#headingTwo").click(function () {
    $("div.hideable").toggle("slow");
    $("span#triangle-down").toggle("fast");
    $("span#triangle-right").toggle("fast");
  });  

});
</script>

<%= form_tag(save_card_cards_path, :enctype =>"multipart/form-data") do  %>


  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="panel-title">Add a new project</h5>
      <div class="form-buttons" style="margin-top: 20px;">
         <div class="actions">
         <%= submit_tag 'Save' %>
         </div>
      </div>
      
      <p style="margin-top: 20px;">Title<br><%= text_field_tag "title", '',size:  60%></p>
      <p>Short Name:<br><%= text_field_tag "short_name", '', size: 60 %></p>
      <p>Description: <br>
        <%= text_area_tag "short_description", '',  cols: "100", rows: "5" %></p>

      <p>LIT Contact:<br><%= text_field_tag "lit_lead", '', size: 100 %></p>
      <p>Service Lead: <br><%= text_field_tag "service_lead", '', size: 100 %></p>
       
      <p>Status:
        <%# Get status keys %>
        <% status = Status.all  %>
        
        <select class="" name="card_status">
          <% status.each do |st|  %>
            <% selected_str =  "New" %>
             <% if selected_str.eql? st.status %>
              <option value=<%= st.status %> selected ><%= st.status %></option>
            <% else %>
              <option value=<%= st.status %> ><%= st.status %></option>
            <% end %>
          <% end  %>
        </select>
      </p>
      <% stype = ["New Service", "Service Improvement", "Consultation", "Other"] %>

      <p>Request Type:
       <select class="" name="request_type">
          <% stype.each do |s|  %>
            <% selected_str =  "Service Improvement" %>
             <% if selected_str.eql? s %>
              <option value=<%= s %> selected ><%= s %></option>
            <% else %>
              <option value=<%= s %> ><%= s %></option>
            <% end %>
          <% end  %>
        </select>

        </p>
       <% stype = ["Strategic", "Tactical", "Investigation", "Project", "Partnership", "Strategic-Closed"]%>
      <p>Activity Type: 
          <select class="" name="activity_type">
          <% stype.each do |s|  %>
            <% selected_str =  "Tactical" %>
             <% if selected_str.eql? s %>
              <option value=<%= s %> selected ><%= s %></option>
            <% else %>
              <option value=<%= s %> ><%= s %></option>
            <% end %>
          <% end  %>
        </select>

        </p>

      <% stype = ["Internal LIT", "Library", "External"]%>
      <p>Stakeholder Type: 
          <select class="" name="card_type">
          <% stype.each do |s|  %>
            <% selected_str =  "Library Projects" %>
            <% if selected_str.eql? s %>
              <option value=<%= s %> selected ><%= s %></option>
            <% else %>
              <option value=<%= s %> ><%= s %></option>
            <% end %>
          <% end  %>
        </select>

        </p>
         <p>Request Cycle:
      <% cname = Cycle.all %>
      <% cur_cycle = Cycle.where("current_cycle =1") %>
       <%= select_tag "in_cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
      </p>
       
    
	</div>

        <div class="form-buttons" style="display:block;">
          <%= submit_tag "Save" %>
        </div>
      
    </div>
  <% end %>



