

<%= form_tag("save_progress", :enctype =>"multipart/form-data") do  %>

<div class="card">
  <div class="card-header">
    <h4> Update Progress for: <%=params["epic"]%></h4>
  </div>  
<div class="card-body">  

 
<h6> Track Progress:</h6>
 <% @track_epic.all.each do |t| 
      track = t.track
      tstatus = t.status
 %>  
  <div class="row ml-1">
    <div class="field">  
     <p><strong><%=track%>:</strong> 
     <%= text_field_tag track, value=tstatus %>   </p>
    </div>
  </div>
  <%end %> 
 
<h6>Comments:</h6>
<%= hidden_field_tag 'epic', params["epic"] %>

<p>March:<br><%= text_area_tag 'comment1',  "one" %></p>
<p>April:<br><%= text_area_tag 'comment2',  "one2" %></p>
<p>May:<br><%= text_area_tag 'comment3',  "one3" %></p>
<p>June:<br><%= text_area_tag 'comment4',  "one4" %></p>

</div>
  <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Save' %>
   </div>
  </div>
</div>
<% end %>