
<h4><b></b></h4>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
    	<h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <%= @card_one.activity_type %>: <%= @card_one.title %> (<%= link_to 'Edit Card', edit_card_path(@card_one) %>)
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
     <ul class="list-group list-group-flush">
       <li class="list-group-item"> <b>Short Name: </b><%= @card_one.short_name%> </li>   
       <li class="list-group-item"> <b>Status:</b> <%= @card_one.card_status %></li>
        <li class="list-group-item"><strong>Description:</strong> <%= @card_one.short_description %></li> 
       <li class="list-group-item"> <b>Request Type: </b><%= @card_one.request_type %></li> 
       <li class="list-group-item"> <b>Requester: </b><%= @card_one.requester_name%> </li>
       <li class="list-group-item"> <b>Division:</b> <%=@card_one.requester_div%></li>
       <li class="list-group-item"> <b>Email: </b> <%= @card_one.requester_email %></li>
       <li class="list-group-item"> <b>Start Cycle: </b><%= @card_one.start_cycle %></li>
       <li class="list-group-item"> <b>Done Cycle:</b> <%= @card_one.done_cycle %></li>
       <li class="list-group-item"> <b>Expected Start Month: </b><%= @card_one.exp_start_month %></li>
       <li class="list-group-item"> <b>Expected End Month:</b> <%= @card_one.exp_end_month %></li>
       <li class="list-group-item"> <b>Division Priority:</b> <%= @card_one.priority  %></li>
       <li class="list-group-item"> <b>Sponsors: </b><%= @card_one.sponsor %></li>
       <li class="list-group-item"> <b>Additional Comments: </b><%= @card_one.more_info %></li>
       

<%#li class="list-group-item">lib_divisions = <%= @card_one.lib_divisions %>

     </ul>
     </div>
   </div>
    <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Details
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
         <ul class="list-group list-group-flush">
  	  
       <% details = @card_one.accomplish_details.split("__|__") %>
<% count = 0 %>

 <li class="list-group-item" style="margin-bottom: 20px;"><strong>What do you hope to accomplish with this proposal?* Fill in the text boxes when relevant</strong><br>
        <% @accomplish_list.each do | value | %>
        <div class="row"> <div class="col-lg-12">
        <div>
          <%= check_box_tag("card[accomplish][]", value, @card_one.accomplish.include?(value), disabled: true ) %>
          <%= value %>
         </div>
         <div>
          <%= text_area_tag("card[accomplish_details][]", details[count], cols: 100, rows: 2, eadonly: true ) %>          
         </div>
         <% count = count + 1 %>
       </div></div>
        <% end %>
    
</li>

<% details = @card_one.benefits_details.split("__|__") %>
<% count = 0 %>

<li class="list-group-item" style="margin-bottom: 20px;"><strong>Who will this work directly benefit?* Fill in the text boxes when relevant</strong><br>
 
        <% @benefits_list.each do | value | %>
        <div class="row"> <div class="col-lg-12">
        <div>
          <%= check_box_tag("card[benefits][]", value, @card_one.benefits.include?(value), disabled: true ) %>
          <%= value %>
         </div>
         <div>
          <%= text_area_tag("card[benefits_details][]", details[count], cols: 100, rows: 2, eadonly: true ) %>          
         </div>
         <% count = count + 1 %>
       </div></div>
        <% end %>

</li>
       <li class="list-group-item" style="margin-bottom: 20px;"> <strong>What is at stake if we do not do this work?* Fill in the text boxes when relevant</strong><br>

        <% details = @card_one.at_stake_details.split("__|__") %>
  <% count = 0 %>

         <% @at_stake_list.each do | value | %>
        <div class="row"> <div class="col-lg-12">
        <div>
          <%= check_box_tag("card[at_stake][]", value, @card_one.at_stake.include?(value), disabled: true ) %>
          <%= value %>
         </div>
         <div>
          <%= text_area_tag("card[at_stake_details][]", details[count], cols: 100, rows: 2, readonly: true ) %>          
         </div>
         <% count = count + 1 %>
       </div></div>
        <% end %>
      </li>
 


<% details = @card_one.ext_pressure_details.split("__|__") %>
<% count = 0 %>
<li class="list-group-item" style="margin-bottom: 20px;"><strong>What external pressures are weighing on this proposal?* Fill in the text boxes when relevant</strong><br>
 
    
        <% @ext_pressure_list.each do | value | %>
        <div class="row"> <div class="col-lg-12">
        <div>
          <%= check_box_tag("card[ext_pressure][]", value, @card_one.ext_pressure.include?(value), disabled: true ) %>
          <%= value %>
         </div>
         <div>
          <%= text_area_tag("card[ext_pressure_details][]", details[count], cols: 100, rows: 2, readonly: true ) %>          
         </div>
         <% count = count + 1 %>
       </div></div>
        <% end %>
    
</li>

<li class="list-group-item" style="margin-bottom: 20px;"><strong>What non-technical needs might affect this work?* Fill in the text boxes when relevant</strong><br>
<% details = @card_one.non_tech_details.split("__|__") %>
<% count = 0 %>

    
        <% @non_tech_list.each do | value | %>
        <div class="row"> <div class="col-lg-12">
        <div>
          <%= check_box_tag("card[non_tech][]", value, @card_one.non_tech.include?(value), disabled: true ) %>
          <%= value %>
         </div>
         <div>
          <%= text_area_tag("card[non_tech_details][]", details[count], cols: 100, rows: 2, readonly: true ) %>          
         </div>
         <% count = count + 1 %>
       </div></div>
        <% end %>
   
</li>

<% details = @card_one.time_constraints_details.split("__|__") %>
<% count = 0 %>

 <li class="list-group-item" style="margin-bottom: 20px;"><strong>Are there any time constraints?* Fill in the text boxes when relevant</strong><br>
  
        <% @time_constraints_list.each do | value | %>
        <div class="row"> <div class="col-lg-12">
        <div>
          <%= check_box_tag("card[time_constraints][]", value, @card_one.time_constraints.include?(value), disabled: true ) %>
          <%= value %>
         </div>
         <div>
          <%= text_area_tag("card[time_constraints_details][]", details[count], cols: 100, rows: 2, readonly: true ) %>          
         </div>
         <% count = count + 1 %>
       </div></div>
        <% end %>
    </li> 





<li class="list-group-item">ext_link = <%= @card_one.ext_link %></li>
<li class="list-group-item">lit_lead = <%= @card_one.lit_lead %></li>
<li class="list-group-item">lit_depts = <%= @card_one.lit_depts %></li>
<li class="list-group-item">service_lead = <%= @card_one.service_lead %></li>
<li class="list-group-item">other_contacts = <%= @card_one.other_contacts %></li>
<li class="list-group-item">comments = <%= @card_one.comments %></li>
<li class="list-group-item">card_since = <%= @card_one.card_since %></li>
<li class="list-group-item">recorded_on = <%= @card_one.recorded_on %></li>
<li class="list-group-item">created_at = <%= @card_one.created_at %></li>
<li class="list-group-item">updated_at = <%= @card_one.updated_at %></li></li>
    
       </ul>
      </div>
    </div>
  </div>
   
     <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Strategic Sorting
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      	 <ul class="list-group list-group-flush">
         <li class="list-group-item">Enthusiasm: <%= @card_one.enthusiasm %></li>	
       <li class="list-group-item">Knowledge: <%= @card_one.knowledge %></li>
       <li class="list-group-item">Resources: <%= @card_one.resource %></li>
       <li class="list-group-item">Comments: <%= @card_one.s_comments %></li>
       
       </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Complexity Rating
        </button>
      </h5>
    </div>
     <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
  
       <ul class="list-group list-group-flush">

  	   <li class="list-group-item">Investigation Scope:<%= @card_one.investigation_scope %></li>	
       <li class="list-group-item">Tech Knowledge: <%= @card_one.tech_knowledge %></li>
       <li class="list-group-item">Team Scope: <%= @card_one.team_scope %></li>
       <li class="list-group-item">Infrastructure: <%= @card_one.infrastructure %></li>
       <li class="list-group-item">Application: <%= @card_one.application %></li>
       <li class="list-group-item">Front End: <%= @card_one.front_end %></li>
       <li class="list-group-item">Content: <%= @card_one.data_content %></li>
       <li class="list-group-item">Total Complexity Score: <%= @card_one.total_complexity_score %></li>
       <li class="list-group-item">Cost: <%= @card_one.cost %> </li>

       <li class="list-group-item">Divergence:<%= @card_one.divergence%></li>
       <li class="list-group-item">Staff Resources: <%= @card_one.staff_resources%></li>
       <li class="list-group-item">Money: <%= @card_one.money%></li>
       <li class="list-group-item">Operational: <%= @card_one.operational%></li>
       <li class="list-group-item">Total Cost Score: <%= @card_one.total_cost_score%></li>
       <li class="list-group-item">Weighted Score: <%= @card_one.weighted_score%></li>
       <li class="list-group-item">Notes: <%= @card_one.complexity_notes%></li>
       </ul>
   </div> 
</div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Impact Rating
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
      	 <ul class="list-group list-group-flush">
        	
       <li class="list-group-item">Benefit: <%= @card_one.benefit_score %></li>
       <li class="list-group-item">accomplish: <%= @card_one.accomplish_score %></li>
       <li class="list-group-item">At Stake: <%= @card_one.at_stake_score %></li>
       <li class="list-group-item">Pressures: <%= @card_one.pressures_score %></li>
       <li class="list-group-item">Change: <%= @card_one.change_score %></li>
       <li class="list-group-item">Impact Score: <%= @card_one.impact_score %></li>
       <li class="list-group-item">Gut Check: <%= @card_one.gut_check %></li>
       <li class="list-group-item">Notes: <%= @card_one.impact_notes %></li>
       </ul>
      </div>
    </div>
  </div>
</div>

  






      
      
      
      
      
      
      
    
  	   
  	 
     



