<% if (@approve_access) %>
<div class="container">
  
<% r_all = Rationale.all %>
<% s_all = Status.all  %>

<% i = 1 
while (i<=2)
p_type= i.to_s
i = i + 1
eview = false
cur_cycle = Cycle.where("current_cycle =1") 
cycle = cur_cycle.first.cycle_name

if (p_type.eql? "2")
     str = "activity_type LIKE '%Tactical%'"
     caption = "Tactical Projects"
    else
     str = "activity_type LIKE '%Strategic%'"
     caption = "Strategic Projects"
    end

    @cards = Card.where(str).order(:card_type)
%>


  <%= form_tag(save_status_cards_path, :enctype =>"multipart/form-data") do %>
  
    
    <%= hidden_field_tag 'p_type', p_type %>
    <%= hidden_field_tag "cycle", cycle %>
    <p style="padding-top: 10px;"></p>
<div class="card">
    <div class="card-header"><h4><%= caption %></h4>

   <div class="actions">
      <%= submit_tag 'Save Status' %>
   </div>
  </div>
<div class="card-body">
      <% @cards.each do |card| %>
      <div class="row">
        
          
      <%   
            saved_status = card.card_status
            saved_r = card.rationale
            saved_n = card.comments
          
          s = "s" + card.id.to_s + "_0" 
          r = "r" + card.id.to_s + "_0"   
          comment =  "c" + card.id.to_s + "_0" 
      %>
         <% if (p_type.eql? "2") %>
           <div class="col-md-12 border border-light">
         <% else %>
           <div class="col border border-light">
         <% end %>  

         <% if (p_type.eql? "2") %>
         
         <div class="card card-body">
          <p><b><%= card.title %>
           ( <%=card.short_name%>, <%= card.in_cycle %> [<%=card.card_type %>]) </b> </p>
       
            <p><b>State:</b><br>
             <% if (eview) %>
            <% s_all.each do |one_s| 
            %>
           
            <%if (one_s.status.eql? saved_status) %>
              <%= radio_button_tag s, one_s.status,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag s, one_s.status, checked = false, options = {} %> 
            <% end %>
            <% if (one_s.status.eql? "In-Progress") %>
             <%= image_tag("Play.png", :alt => 'User Icon', size:"20x20")%>
            <% elsif (one_s.status.eql? "Slow Progress") %>
             <%= image_tag("Slow.png", :alt => 'User Icon', size:"20x20")%> 
            <% elsif (one_s.status.eql? "Paused") %>
             <%= image_tag("Paused.png", :alt => 'User Icon', size:"20x20")%> 
            <% elsif (one_s.status.eql? "Stopped") %>
             <%= image_tag("Stop.png", :alt => 'User Icon', size:"20x20")%> 
            <% elsif (one_s.status.eql? "Done") %>
             <%= image_tag("Done.png", :alt => 'User Icon', size:"20x20")%>  
            <% end %> 
            <%=one_s.status %> 
            <br>
           <%end # for each%>
           <% else %>
           <%= select_tag s, options_from_collection_for_select(s_all, "status", "status",  saved_status)  %>
          <%end %> 
      
           </p>
           <p>Status:<br>
             <% if (eview)%>
            <% r_all.each do |one_r| 
            %>
           
            <%if (one_r.rationale.eql? saved_r) %>
              <%= radio_button_tag r, one_r.rationale,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag r, one_r.rationale, checked = false, options = {} %> 
            <% end %>
           <%= one_r.rationale %><br>
           <% end %>
           <% else %>
           <%= select_tag r, options_from_collection_for_select(r_all, "rationale", "rationale",  saved_r)  %>
           <% end %>
          </p>
          <% if (p_type.eql? "2") %>
            <p>Comments:<br> <%= text_area_tag comment,  saved_n , :rows => 3, :cols => 70%> </p>  
          <% else %>
          <p>Comments:<br> <%= text_area_tag comment,  saved_n , :rows => 3, :cols => 20%> </p> 
          <% end %>  
          </div>   
        
          <% end #if ptype eql 2%>
        </div>
        
     </div>
<%# each track%>
      <% if (p_type.eql? "1") 
           saved_n = card.comments
      %>
      <div class="card card-body">
        <p><b><%= card.title %></b></p>
      <div class="row"><div class="col">
         <p>Comments:<br> <%= text_area_tag comment,  saved_n , :rows => 3, :cols => 80 %> </p> </div></div>
           <div class="row">
       <%
        track_cnt = 0 
        obj = Track.where("card_id='"+card.id.to_s+"'").order(:disp_order)
        obj.each do |o| 
            saved_status = o.status#card.card_status
            saved_r = o.rationale #card.rationale
            
         
           
         s = "s" + card.id.to_s + "_" + o.id.to_s
         r = "r" + card.id.to_s + "_" + o.id.to_s
         comment =  "c" + card.id.to_s + "_" + o.id.to_s
         #if (!o.track.eql? "Project-Level")
          track_cnt = track_cnt + 1
        %>
       
        
        <div class="col border border-light">
        
        <p style="padding-top: 15px;"><b><i>Track: <%= o.track%></i></b></p>
       
          
        <p>Status:<br>
          <% if (eview) %>
            <% s_all.each do |one_s| 
            %>
           
            <%if (one_s.status.eql? saved_status) %>
              <%= radio_button_tag s, one_s.status,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag s, one_s.status, checked = false, options = {} %> 
            <% end %>
            <% if (one_s.status.eql? "In-Progress") %>
             <%= image_tag("Play.png", :alt => 'User Icon', size:"20x20")%>
            <% elsif (one_s.status.eql? "Slow Progress") %>
             <%= image_tag("Slow.png", :alt => 'User Icon', size:"20x20")%> 
            <% elsif (one_s.status.eql? "Paused") %>
             <%= image_tag("Paused.png", :alt => 'User Icon', size:"20x20")%> 
            <% elsif (one_s.status.eql? "Stopped") %>
             <%= image_tag("Stop.png", :alt => 'User Icon', size:"20x20")%> 
            <% elsif (one_s.status.eql? "Done") %>
             <%= image_tag("Done.png", :alt => 'User Icon', size:"20x20")%>  
            <% end %> 
            <%=one_s.status %> 
            <br>
           <%end # for each%>
           <% else %>
           <%= select_tag s, options_from_collection_for_select(s_all, "status", "status",  saved_status)  %>
          <%end %>
           </p>
           <p>Details:<br>
            <% if (eview)%>
            <% r_all.each do |one_r| 
            %>
           
            <%if (one_r.rationale.eql? saved_r) %>
              <%= radio_button_tag r, one_r.rationale,  checked=true,  options = {} %> 
            <% else %>
               <%= radio_button_tag r, one_r.rationale, checked = false, options = {} %> 
            <% end %>
           <%= one_r.rationale %><br>
           <% end %>
           <% else %>
           <%= select_tag r, options_from_collection_for_select(r_all, "rationale", "rationale",  saved_r)  %>
           <% end %>
          </p>
          
          
        </div>
        
        <% end #each track %>
         <% 
        track_cnt = 4-track_cnt 
        while (track_cnt > 0) do
            track_cnt = track_cnt-1
        %>
         <div class="col border border-light"></div>
        <% end #while %>
        </div> 
        
      </div>
        <% end #if ptype %>
        
       
      <% end # each card%>
      
    </div>
  </div>
  <% end #form%>
<% end # while %>


  
</div>
</div>
</div>
<% end %>
 

