<h5></h5>

<%= form_tag("tactical_resources2", method: :post, :enctype =>"multipart/form-data") do %>
   
<% cname = Cycle.all %>
<% card_epic = Card.where("activity_type LIKE '%Active%' ") %>
<% cur_cycle = Cycle.where("current_cycle =1") 
%>
<div class="card">
  <div class="card-header">
    <h4> Update Resources for Tactical Projects</h4>
  </div>  
<div class="card-body">  

<div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %>
  
   </div>
</div>

<div class="row ml-1">
    <div class="field">
     <%= label_tag :project %>
     <%= select_tag "epic", options_from_collection_for_select(card_epic, "short_name", "title")  %>
     
   </div>
</div>




</div>
   <div class="card-footer">
   
   <div class="actions">
      <%= submit_tag 'Next' %>
   </div>
 
  
</div>
</div>
<% end %>