<div class="container">
<h3>TRACC Help</h3>


<h5 style="margin-top: 25px;">Project Cards</h5>
<div class="accordion" id="accordion1">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Project Card: Add, Edit, View 
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
      <div class="card-body">
          <ul class="list-group list-group-flush">
             <ul><li>Edit → Project Details<p><%= image_tag('ex2-1.png', alt: "Edit Project Details", size:"500x100", :style => "border: 1px solid black") %></p>
            </li>
    <li>Edit a Card: Select "Edit" to edit details for a project<p>
<%= image_tag('ex2-2.png', alt: "Edit Project Details", size:"500x200", :style => "border: 1px solid black") %>
      <p></li>
    <li>Create a New Card: At the end of the page, there is a link to add a new card<p><%= image_tag('ex2-3.png', alt: "Edit Project Details", size:"500x100", :style => "border: 1px solid black") %></p> </li>
    </ul>
          </ul>
        

   </div>
</div>

</div>
</div>

<h5 style="margin-top: 15px;">Staff Members</h5>
<div class="accordion" id="accordion2">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Assign Staff to Projects
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion2">
      <div class="card-body">
          <ul class="list-group list-group-flush">
   <ul><li>Dashboards → Cycle Planning Board
    <p><%= image_tag('ex1-1.png', alt: "", size:"300x100", :style => "border: 1px solid black") %>
      </p></li>
      
    <li>Select the Cycle and Type (Strategic, Tactical)
      <p><%= image_tag('ex1-2.png', alt: "", size:"300x200", :style => "border: 1px solid black") %></p>
       </li>
    <li>Select "Edit Resources", then "Add Resources" </li>
     <p><%= image_tag('ex1-3.png', alt: "Edit Project Details", size:"500x100", :style => "border: 1px solid black") %></p>
       
    <li>For strategic projects, choose the appropriate track before adding resources.
    <p><%= image_tag('ex1-4.png', alt: "Edit Project Details", size:"500x100", :style => "border: 1px solid black") %></p>
    </li>
    <li>Return to Dashboards → Cycle Planning Board to add or edit resources</li></ul>
        </ul>
   </div>
   </div>
</div>

  



<div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Report: Staff Allocation Per Cycle
        </button>
      </h5>
    </div>

    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion2">
      <div class="card-body">
          <ul class="list-group list-group-flush">
            <ul><li>Reports → Staff Allocation<p><%= image_tag('ex2-1.png', alt: "Edit Project Details", size:"300x100", :style => "border: 1px solid black") %></p></li>
    <li>Select the Cycle and Department. Select Refresh<p><%= image_tag('ex2-1.png', alt: "Edit Project Details", size:"300x100", :style => "border: 1px solid black") %></p></li>
   
    </ul>
          </ul>
        
      </div>    
   </div>
  </div>


<div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Staff member: Add, Edit, Project/Ops Allocation
        </button>
      </h5>
    </div>

    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion2">
      <div class="card-body">
          <ul class="list-group list-group-flush"><ul>
             <li>Setup → Staff Chips <p><%= image_tag('ex4-1.png', alt: "Edit Project Details", size:"450x150", :style => "border: 1px solid black") %></p></li>
<li>To add new staff, click Next<p> <%= image_tag('ex4-2.png', alt: "Edit Project Details", size:"450x150", :style => "border: 1px solid black") %></p></li>
<li>To view Project/Ops allocation, click "view all" (next to Edit Staff Chips).</li>

<li>To edit Project/Ops allocation, select the uniqname and click Next.</li>
  
          </ul></ul>
        
    </div>
   </div>
  </div>
</div>

 

<h5 style="margin-top: 15px;">Update Progress</h5>
<div class="accordion" id="accordion3">

<div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Strategic Projects (Initiatives)
        </button>
      </h5>
    </div>

    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion3">
      <div class="card-body">
          <ul class="list-group list-group-flush">
             <ul><li>Edit → Progress<p> <%= image_tag('ex5-1.png', alt: "", size:"300x150", :style => "border: 1px solid black") %></p></li>
      <li>Choose the appropriate cycle and strategic project <p><%= image_tag('ex5-2.png', alt: "", size:"300x150", :style => "border: 1px solid black") %> </p></li>
      <li>For the relevant month, add the percent of progress for each track and comments<p> <%= image_tag('ex5-3.png', alt: "", size:"300x150", :style => "border: 1px solid black") %></p> </li><ul>
      <li>Comments should be for all progress on all tracks.</li>
      <li>Progress is cumulative, eg, if you add 20% for Nov and have made 10% more progress for the next month, you will add 30% for Dec. (Only add the number, not the percent sign.)
      </li></ul></ul>
          </ul>
        

   </div>
</div>
  </div>  

<div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Tactical Projects
        </button>
      </h5>
    </div>

    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion3">
      <div class="card-body">
          <ul class="list-group list-group-flush">
             <ul><li>Edit → Progress<p> <%= image_tag('ex6-1.png', alt: "", size:"300x150", :style => "border: 1px solid black") %></p></li>
      <li>Choose the appropriate cycle and tactical project <p> <%= image_tag('ex6-2.png', alt: "", size:"300x150", :style => "border: 1px solid black") %></p></li>
      <li>For the relevant month, add the percent of progress for each track and comments<p> <%= image_tag('ex6-3.png', alt: "", size:"300x150", :style => "border: 1px solid black") %></p> </li><ul>
      <li>Comments should be for all progress on all tracks.</li>
      <li>Progress is cumulative, eg, if you add 20% for Nov and have made 10% more progress for the next month, you will add 30% for Dec. (Only add the number, not the percent sign.)
      </li></ul></ul>
          </ul>
        
</div>
   </div> 
</div>

</div>