<% 
  p_type = params["type"]
  cycle = params["cycle"]
  nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']
  cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
  s = cur_cycle.first.start.month
  stmonth = ""
  endmonth = ""
  months = ["","","","",""]
  
  i = 0 
  while (i<4) do
    months[i] = nameofmonths[s]
    i = i + 1
    if s<=12
      s = s +1 
    else
      s =1 
    end  
   
  end

%>
      
  <% # projects and tracks %>
   <% if ( (p_type.eql? "Strategic") || (p_type.eql? "All Boards") )%>  

   <div class="row ">
  <div class = "col  d-flex">
    <h4 style="padding-top: 20px"> <%=cycle%> Cycle Planning Board: Strategic </h4>

  </div>
  </div>    
          <div class="row sticky-top" style="background-color: #F7F7F7;">
          
            <div class = "col border-dark" style="margin-top: auto; margin-bottom: auto;  margin-left: auto; margin-right: auto; padding-top: 20px;  padding-bottom: 20px;">
              <b>&nbsp;</b>
            </div>  
           
           <% i = 0
              while (i < 4) do 
              
                %>  
            <div class="col border border-dark"   >
                
      <p class="text-center" style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px"><b><%= months[i] %> </b></p>
             </div>
           <% 
             i = i +1
             end %>  
          </div>


           <% @pro_list.each do |pro| %>  

           <div class="row">
             <div class="col border border-dark ">
              
              <%
               str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle + "'"
               t_chips = ChipAssignment.where(str1).sum(:chips)
               t_chips_fte = t_chips/4.00
              %>
              <p style="padding-top: 10px;"><b><%= pro.short_name %> (Total: <%=t_chips%> chips,<%=t_chips_fte%> FTE)</b></p>
               <%= form_tag("/cards/resources2", :enctype =>"multipart/form-data") do %>
    <div class="actions">
      <%= hidden_field_tag 'cycle', params["cycle"] %>
      <%= hidden_field_tag 'epic', pro.short_name %>
      <%= submit_tag 'Edit Resources' %>
   </div>
    <% end %>
              <% #<br><b>....Objectives:</b><br> %>
             </div> 
             
              <%
              str = "card_id = '" + pro.id.to_s + "' AND cycle='"+cycle+"'" 
              @obj = Objective.where(str)
              i = 0 
              @obj.each do |o|
                i = i + 1 
              %>
               
              <% end %>
      
         </div>

           <%
               str = "card_id = '" + pro.id.to_s + "'"
               @tracks = Track.where(str) 
               @tracks.each do |t|

              str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle + "' AND trackname='"+t.track + "'"  
              t_chips = ChipAssignment.where(str1).sum(:chips)
              t_chips_fte = t_chips/4.00
           %>
            <div class="row">
             <div class="col border border-dark "  >
              <p style="padding-left: 10px"><%= t.track %>(Total: <%=t_chips%> chips,<%=t_chips_fte%> FTE)</p>
             </div>

           
             
            <% i = 0
              while (i < 4) do 
               %> 
               <div class="col border border-dark ">
                <% 
                str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle +"' AND month='"+months[i] + "' AND trackname='"+t.track + "'"  %>
                <% @chips = ChipAssignment.where(str1).order(:uniqname) %>
                <% @chips.each do |ch| %>
                  
                  <div class="card card body">
                  <p style="text-align: center;">  <%= image_tag("User1.png", :alt => 'User Icon', size:"30x30") %><br><%= ch.uniqname %>(<%= ch.chips%>)</p>
                  </div>
                  
                <% end %>
                <% i = i +1 %>
               </div>
              <% end %>
           </div>

           <%  end %>

           <% end %>  
<% end %>

<% if ((p_type.eql? "Tactical") || (p_type.eql? "All Boards") ) %>

<div class="row">
  <div class = "col">
    <h4 style="padding-top: 40px"> <%=cycle%> Cycle Planning Board: Tactical</h4>
  </div>
</div>    
          <div class="row" style="background-color: #F7F7F7">
          
            <div class = "col border border-dark" style="margin-top: auto; margin-bottom: auto;  margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px">
              <b>&nbsp;</b>
            </div>  
           
           <% i = 0
              while (i < 4) do 
              
                %>  
            <div class="col border border-dark "  >
                
      <p class="text-center" style="margin-top: auto; margin-bottom: auto; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px"><b><%= months[i] %> </b></p>
             </div>
           <% 
             i = i +1
             end %>  
          </div>

     <% @pro_list1.each do |pro| %>  

           <div class="row">
             <div class="col border border-dark ">
              <b><%= pro.short_name %></b>
               <%= form_tag("/cards/tactical_resources2", :enctype =>"multipart/form-data") do %>
                 <div class="actions">
                  <%= hidden_field_tag 'cycle', params["cycle"] %>
                  <%= hidden_field_tag 'epic', pro.short_name %>
                  <%= submit_tag 'Edit Resources' %>
                 </div>
               <% end %>  
              <% #<br><b>....Objectives:</b><br> %>
             </div> 
             
              <%
              str = "card_id = '" + pro.id.to_s + "' AND cycle='"+cycle+"'" 
              @obj = Objective.where(str)
              i = 0 
              @obj.each do |o|
                i = i + 1 
              %>
               
              <% end %>
             
            <% i = 0
              while (i < 4) do 
               %> 
               <div class="col border border-dark ">
                <% 
                str1 = "card_id = '" + pro.id.to_s + "' AND cycle='"+ cycle +"' AND month='"+months[i] + "'"  %>
                <% @chips = ChipAssignment.where(str1).order(:uniqname) %>
                <% @chips.each do |ch| %>
                <%#= "\u263A".unicode_normalize %>
                
                <div class="card card body">
                  <p style="text-align: center;">  <%= image_tag("User1.png", :alt => 'User Icon', size:"30x30") %><br><%= ch.uniqname %>(<%= ch.chips%>)</p>
                  </div>
                
                 
                <% end %>
                <% i = i +1 %>
               </div>
              <% end #while do%>
           </div>

           <% end %>  
   <% end                
       
 if  ((p_type.eql? "Operational") ||  (p_type.eql? 'All Boards') )
    dept = Array.new
    dept << "A&E"
    dept << "AIM"
    dept << "DCC"
    dept << "D&D"
    dept << "DLA"
    
  %>
  <div class="row">
  <div class = "col" >
    <h4 style="padding-top: 40px"> <%=cycle%> Cycle Planning Board: Operational </h4>
  </div>
</div> 

<div class="row">
  <%  

  i = 0 
     while (i < 5) do %> 
     <div class="col border border-dark " >
      <p style="text-align: center; padding-top: 10px; "><b><%= dept[i] %></b></p>
      <%  
        str  = "dept LIKE '" + dept[i] + "'"
        sum =  Chip.where(str).sum(:ops)
      %>
      <p>Total: <%= sum%> chips; <%= sum/4.00 %> FTE </p>
     </div>
     <% i = i +1 
        end %>
</div>   
<div class="row">           
 <% i = 0 
     while (i < 5) do %> 
     
      <div class="col border border-dark ">
       <% str  = "dept LIKE '" + dept[i] + "'"
          ch = Chip.where(str).order(:uniqname) 
          ch.each do |one| %> 
             <div class="card card body">
                  <p style="text-align: center; padding-top:8px;">  <%= image_tag("User2.png", :alt => 'User Icon', size:"30x30") %><br><%= one.uniqname %>(<%= one.ops%>)</p>
                  </div>
          <% end %>  
          
      
     <% i = i + 1 %>
        </div> 
     <% end %>          
       </div>
    
<% end %>
  
</div>



