<h5></h5>

   
<% cname = Cycle.all %>
<% cur_cycle = Cycle.where("current_cycle =1") %>

<div class="row" style="padding-top: 20px">
 <div class="col-md-6">
 <%= form_tag("strategic", :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>LIT Internal Dashboard for Strategic Projects</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "progress", 1, {:checked => "checked"}  %> Overall Progress
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bar
   </div>
 </div>


 <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "obj" , 1, {:checked => "checked"} %> Objectives
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "comments", 1, {:checked => "checked"}  %> Comments
   </div>
 </div>

 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
</div>
 <% end %>
</div>

 <div class="col-md-6">
 <%= form_tag("dashboard", :enctype =>"multipart/form-data") do %>
 <div class="card">
  <div class="card-header">
    <h5>Public Dashboard for Strategic Projects</h5>
  </div>  
 <div class="card-body">  

  <div class="row ml-1">
    <div class="field">
     <%= label_tag :cycle %>
     <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name", cur_cycle.first.cycle_name)  %> 
   </div>
 </div>
 
  <div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "bar", 1, {:checked => "checked"}  %> Progress Bar
   </div>
 </div>

<div class="row ml-1">
    <div class="field">     
     <%= check_box_tag "progress" ,1, {:checked => "checked"} %> Overall Progress
   </div>
 </div>

 </div>
 <div class="card-footer"> 
   <div class="actions">
      <%= submit_tag 'Next >>' %>
   </div>
 </div>
 <% end %>
</div>
</div>
