 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
    
  cycle = params["cycle"]

  nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']
  cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
  s = cur_cycle.first.start.month
  stmonth = ""
  endmonth = ""
  if (s != nil)
    stmonth = nameofmonths[s]
    if s<=8
      s = s +3
    else
      s = s+3 -12 
    end  
   endmonth = nameofmonths[s]
  end 


  @track_lsp = Objective.where("card_id= '1' AND cycle LIKE '"+cycle+"'")
  @track_cs = Objective.where("card_id= '2'  AND cycle LIKE '"+cycle+"'")
  @track_db = Objective.where("card_id= '4'  AND cycle LIKE '"+cycle+"'")
  @track_ls = Objective.where("card_id= '3'  AND cycle LIKE '"+cycle+"'")
  @track_dcp = Objective.where("card_id= '5' AND cycle LIKE '"+cycle+"'")
  @track_f = Objective.where("card_id= '6'   AND cycle LIKE '"+cycle+"'")
  @track_w = Objective.where("card_id= '7'  AND cycle LIKE '"+cycle+"'")
  @track_ht = Objective.where("card_id= '8' AND cycle LIKE '"+cycle+"'")


 total = 0 
 cnt = 0
  @track_lsp.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_lsp = total/cnt 

  total = 0 
 cnt = 0
  @track_cs.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_cs = total/cnt   

  total = 0 
 cnt = 0
  @track_ls.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_ls = total/cnt 

  total = 0 
 cnt = 0
  @track_db.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_db = total/cnt 

  total = 0 
 cnt = 0
  @track_dcp.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_dcp = total/cnt 

  total = 0 
 cnt = 0
  @track_f.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_f = total/cnt 

  total = 0 
 cnt = 0
  @track_w.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_w = total/cnt 

  total = 0 
 cnt = 0
  @track_ht.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
  end    
  total_ht = total/cnt 
  
%>
<%#row1 %>
<h3>  <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Strategic Projects  </h3>

 <div class="row" style="padding-top: 20px">
    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">

    		<h5 >LSP Migration (Alma)</h5><p>Cycle Progress: <%= total_lsp %>%</p>
    		
  		</div>  
 		<div class="card-body"> 			  
    
         <h6><strong>Objectives</strong></h6>
            <%  
              total = 0
              i = 0 
              @track_lsp.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                      total+=tstatus
                    end  
                    i = i+ 1 ;
            %>     
          <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
          </p>
          <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
         
             <p style="padding-top: 120px"></p>
 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color3 %>">
  		<div class="card-header" style="background: <%= color4 %>">
    		<h5 >Catalog Search </h5><p>Cycle Progress: <%= total_cs %>%</p>
  		</div>  
 		<div class="card-body">
 			 
       <h6><strong>Objectives</strong></h6>
             
              <%  total = 0
                  i = 0
                  @track_cs.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
               <p>
              <%=track%> 
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </p>
              <% end %>
              <%
            if (i>0)
              completed = total/i
              left = 100 - completed 
            end
          %>
         
 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5 >Library Search </h5><p>Cycle Progress: <%= total_ls %>%</p>
  		</div>  
 		<div class="card-body">
 			
         <h6><strong>Progress</strong></h6>
         <%  total = 0 
             i = 0 
             @track_ls.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                      total+=tstatus
                    end  
                    i = i+ 1 ;
               %>     
          <p><%=track %> 
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
            </p>
          <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
         
 		</div>  		 
  		</div>
    </div>
  </div>

  <%# row2 %>

  <div class="row" style="padding-top: 20px">
    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5 >Deep Blue</h5><p>Cycle Progress: <%= total_db %>%</p>
  		</div>  
 		<div class="card-body">
 		
         <h6><strong>Progress</strong></h6>
              <%  total = 0 
                  i = 0 
                  @track_db.all.each do |t| 
                    track = t.objective
                    
                     tstatus = t.status
                     if (tstatus != nil)
                     total+=tstatus
                    end
                    i = i+ 1 ;
               %>     
              <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
            </p>
              <% end %>
               <%
           
          %>
         
<p style="padding-top: 50px"></p>
 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5 >Digital Collections Platform </h5>
  		</div>  
 		<div class="card-body">
 			 
        <h6><strong>Progress</strong></h6> <p>Cycle Progress: <%= total_dcp %>%</p>
       
              <%  total = 0 
                  i = 0 
                  @track_dcp.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
             <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
           </p>
              <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
         
 		</div>  		 
  		</div>
    </div>

<div class="col-md"></div>
  </div>
 <%# row 3%>


  <div class="row" style="padding-top: 20px">
    <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5>Website Redesign</h5><p>Cycle Progress: <%= total_w %>%</p>
  		</div>  
 		<div class="card-body">
 			
         <h6><strong>Objectives</strong></h6>
              <%  total = 0 
                  i = 0 
                  @track_w.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
              <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </p>
              <% end %>
        <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
         
 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5>Fulcrum </h5><p>Cycle Progress: <%= total_f %>%</p>
      </div>  
    <div class="card-body">
        

          <h6><strong>Objectives</strong></h6>
              <%  total = 0
                  i = 0 
                  @track_f.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
             <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
             </p>
              <% end %>
            <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
         
    </div>       
      </div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5>HathiTrust </h5><%= total_ht %>%
  		</div>  
 		<div class="card-body">
 			
         <h6><strong>Objectives</strong></h6>
           
              <%  total = 0 
                  i = 0 
                  @track_ht.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
              <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </p>
              <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
         
 		</div>  		 
  		</div>
    </div>

    
  </div>
  
</div>