 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
    
  @track_lsp = Track.where("epic_title LIKE 'LSP' ")
  @track_db = Track.where("epic_title LIKE 'Deep%' ")
  @track_dcp = Track.where("epic_title LIKE 'Digital%' ")
  @track_cs = Track.where("epic_title LIKE 'Catalog%' ")
  @track_ls = Track.where("epic_title LIKE 'Library%' ")
  @track_f = Track.where("epic_title LIKE 'Fulcrum%' ")
  @track_w = Track.where("epic_title LIKE 'Website%' ")
  @track_ht = Track.where("epic_title LIKE 'Hathi%' ")
  
%>
<%#row1 %>
<h3> Dashboard: Strategic Projects </h3>
 <div class="row" style="padding-top: 20px">
    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">

    		<h5 >LSP</h5>
    		
  		</div>  
 		<div class="card-body">
 			  
<h6 > Capacity Allocated: 30%, 2 FTE</h6>
    		<p > Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>
       <div class="card">
          <div class="card-header">Progress</div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <%  @track_lsp.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul>  
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>




 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color3 %>">
  		<div class="card-header" style="background: <%= color4 %>">
    		<h5 >Catalog Search </h5>
  		</div>  
 		<div class="card-body">
 			  <h6 >Capacity Allocated: 30%, 2 FTE</h6>
    		<p> Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>

       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
             <ul  class="list-group list-group-flush">
              <%  @track_cs.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%> 
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul> 
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>


 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5 >Library Search </h5>
  		</div>  
 		<div class="card-body">
 			<h6 >Capacity Allocated: 30%, 2 FTE</h6>
    		<p > Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>  

       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <%  @track_ls.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track %> 
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul> 
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>



 		</div>  		 
  		</div>
    </div>
  </div>

  <%# row2 %>

  <div class="row" style="padding-top: 20px">
    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5 >Deep Blue</h5>
  		</div>  
 		<div class="card-body">
 			<h6 > Capacity Allocated: 30%, 2 FTE</h6>
    		<p > Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>  

       <div class="card">
          <div class="card-header">Progress: </div>
          <div class="card-body">
             <ul  class="list-group list-group-flush">
              <%  @track_db.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul> 
          </div>
        </div>
		<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>



 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5 >Digital Collection Platform: </h5>
  		</div>  
 		<div class="card-body">
 			  <h6 >Capacity Allocated: 30%, 2 FTE</h6>
    		<p > Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>

       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <%  @track_dcp.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul>  
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>



 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5>Fulcrum </h5>
  		</div>  
 		<div class="card-body">
 			  
<h6 >Capacity Allocated: 30%, 2 FTE</h6>
    		<p > Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>
       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <%  @track_f.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul>  
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>


 		</div>  		 
  		</div>
    </div>
  </div>
 <%# row 3%>


  <div class="row" style="padding-top: 20px">
    <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5>Website Redesign</h5>
  		</div>  
 		<div class="card-body">
 			<h6 > Capacity Allocated: 30%, 2 FTE</h6>
    		<p >  Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>  

       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
          <ul  class="list-group list-group-flush">
              <%  @track_w.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul>   
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>


 		</div>  		 
  		</div>
    </div>

    <div class="col-md">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">
    		<h5>Hathi Trust </h5>
  		</div>  
 		<div class="card-body">
 			  <h6 >Capacity Allocated: 30%, 2 FTE</h6>
    		<p > Name 1: 0.5 FTE, Name 2: 0.25 FTE</p>

       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <%  @track_ht.all.each do |t| 
                    track = t.track
                    tstatus = t.status
               %>     
              <li class="list-group-item"><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </li>
              <% end %>
            </ul>  
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>



 		</div>  		 
  		</div>
    </div>

    <div class="col-md"></div>
  </div>
  
</div>