
<% if (@cards.nil?)
else %>
<% cycles = Array.new  %>
<% @cards.each do | value |   %>
    <%  cycles <<  value.in_cycle %>
<% end  %>

<% cycle_hash = {}  %>
<% cycles.uniq.each{|e| cycle_hash[e]= cycles.count(e)}  
cycle_hash = cycle_hash.sort 
%>
<% data_array_1 = Array.new  %>
<% data_array_2 = Array.new  %>
<% cycle_hash.each do | cycle, count |  %>
<%  data_array_1 << cycle  %>
<%  data_array_2 << count %>
<% end %>

<% labels = "" %>
<% data_array_1.each do | value |  %>
<%  labels << value + "|"  %>
<% end %>
<%# labels.slice!(labels.length-1,labels.length) %>

<% label = Array.new %>
<% label << labels %>
<% label2 = Array.new %>
<% label2 << label %>

<% status = Status.all
status_array = Array.new
#status_array = ["All"]
status.each do |one|
  status_array << one.status
end 
%>

 <% 
 if (params["chart"] == "Requests")
 test_data = Gchart.bar( %>
                  <% :size => '600x400', %>
                  <% :bar_colors => '81b0df' , %>
                  <% :title => "Cycles and Requests", %>
                  <% :bg => 'EFEFEF', %>
                  <% :legend => data_array_1, %>
                  <% :data => [data_array_2], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => false, %>
                  <% :min_value => false, %>
                  <% :bar_width_and_spacing => [70,6], %>
                  <% :axis_labels => label2, %>
                  <% ) 

  end %>

 <% 
 if ( (params["status"] == "All") && (params["cycle"] == "All") && (params["chart"] == "Requests") )
 # six cycles 
 one = Array.new
 two = Array.new
 three = Array.new
 four = Array.new
 five = Array.new
 six = Array.new
 seven = Array.new
 eight = Array.new
 nine = Array.new
 one_new = Array.new
 two_done = Array.new
 three_stp = Array.new
 four_inp = Array.new
 five_not = Array.new
 six_notp = Array.new
 seven_beh = Array.new
 eight_hld = Array.new
 nine_other = Array.new
 cyc_labels = Array.new 

 crds = Card.all
 cyc = Cycle.all
 cyc = cyc.sort
 
 crds.each do | value |  
 
    if (value.card_status == "New") 
      one <<  value.in_cycle 
    elsif (value.card_status == "Done")
      two <<  value.in_cycle
    elsif (value.card_status == "Stopped")
      three <<  value.in_cycle
    elsif (value.card_status == "In-Progress")
      four <<  value.in_cycle
    elsif (value.card_status == "Not Started")
      five <<  value.in_cycle
    elsif (value.card_status == "Not Pickedup")
      six <<  value.in_cycle
    elsif (value.card_status == "Behind Schedule")
      seven <<  value.in_cycle
    elsif (value.card_status == "On-Hold")
      eight <<  value.in_cycle
    else
      nine << value.in_cycle      
    end  
 end
 
 cyc.each do |value|

  one_new <<    one.count(value.cycle_name)
  two_done << two.count(value.cycle_name)
  three_stp  << three.count(value.cycle_name)
  four_inp  << four.count(value.cycle_name)
  five_not << five.count(value.cycle_name)
  six_notp  << six.count(value.cycle_name)
  seven_beh  << seven.count(value.cycle_name)
  eight_hld << eight.count(value.cycle_name)
  nine_other << nine.count(value.cycle_name)
  cyc_labels << value.cycle_name
 end 
 
labels = "" 
cyc_labels.each do | value |  
labels << value + "|"  
end 

cyc_labels = []
cyc_labels << labels


 #["New", "Done", "Stopped", "In-Progress", "Not-Started", "Not Pickedup", "Behind Schedule", "On-Hold", "Other"]
 test_data = Gchart.bar( %>
                  <% :size => '600x400', %>
                  <% :bar_colors => '81b0df,adcb62,c6a52a,b60068,4b001d,347e9d,dfd2e5,c5c00e,b9dad7' , %>
                  <% :title => "Cycles and Requests", %>
                  <% :bg => 'EFEFEF', %>
                  <% :legend => status_array, %>
                  <% :data => [one_new,two_done,three_stp,four_inp,five_not,six_notp,seven_beh,eight_hld,nine_other], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 50, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => cyc_labels, %>
                  <% ) 

  end 
  end %>
<html>
  <head>
   
  </head>
  <body>
    <h4>Report Type: <%= params["chart"] %></h4>
    <h5>Total Found: <%= @cards.count %></h5>
    
   <div class="accordion" id="accordionExample">
  
   <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Graph
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <% if (!@cards.nil?) %>
        <%= image_tag test_data %>
        <% end %>
      </div>
    </div>
  </div>

   <div class="card">
    <table  class="table table-striped">
    <thead>
      <tr>
        <th >#</th>
        <th >Short Name and Title</th>
        <th >Status</th>
        <th >Rationale</th>
        <th >Comments</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 
        if (@cards == nil) 

        else  
        @cards.each do |card| %>
       <tr>
        <td> <%= i %><% i+=1 %></td>
        <td><%= card.title %>(<%= card.short_name %>, <%= card.in_cycle %>)<br>
          <b>Description:</b> <%= card.short_description %></td>
        <td><%= card.card_status %></td>
        <td> <%= card.rationale  %></td>
        <td><%= card.comments %></td>
        
      </tr>
      <%end%>
      <%end%>
    </tbody>
  </table>
</div>
</div>
  </body>
</html>
