<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "#FFF" 
   color4 = "#CCC"
    

  @slist = Card.where("activity_type LIKE 'Strategic'")
  @alist = Card.where("activity_type LIKE '%Active%' ")   

  total_chips = Chip.sum(:project) *1.00

 flag = true

nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']

cur_cycle = Cycle.where("current_cycle =1")
cycle = cur_cycle.first.cycle_name
s = cur_cycle.first.start.month
stmonth = ""
endmonth = ""

if (s != nil)
  stmonth = nameofmonths[s]
  if s<=8
    s = s +3
  else
    s = s+3 -12 
  end  
  endmonth = nameofmonths[s]
end 

s = cur_cycle.first.start.month

months = ['','','','','']
i = 1
while (i<=4) do
  months[i] = nameofmonths[s]
  i = i + 1
  s = s+1 
  if (s>12)
    s= 1
  end
end 




pro = Array.new
cap =Array.new

   total_strategic = 0 
   @slist.all.each do |strategic| 
           card_id = strategic.id 
           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
 
           total = 0 
           cnt = 0
           @o_st = Objective.where(str) 

           @o_st.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
          end    
          total = total/cnt 
          # capacity
          totalfte = 0 
        
          str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "' "
          @ch_st = ChipAssignment.where(str)

          @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4

          pro << total
          cap << totalfte
          total_strategic = total_strategic + totalfte
         end
 


status_keys = ['Capacity','Progress']
x_labels = ['LSP | CS | LS | DB | DCP | Fulcrum | Website | HT']
title =""
details_data = Gchart.bar( %>
                  <% :size => '600x400', %>
                  <% :bar_colors => '81b0df,adcb62' , %>
                  <% :title => title, %>
                  <% :bg => 'FFFFFF', %>
                  <% :legend => status_keys, %>
                  <% :data => [cap,pro], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 100, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => x_labels, %>
                  <% ) 

# ---- end of capacity and progress details ------

status_keys_c = ['Capacity']
x_labels = ['LSP | CS | LS | DB | DCP | Fulcrum | Website | HT']
title =""
strategic_cap = Gchart.bar( %>
                  <% :size => '500x200', %>
                  <% :bar_colors => '81b0df' , %>
                  <% :title => title, %>
                  <% :bg => 'FFFFFF', %>
                  <% :legend => status_keys_c, %>
                  <% :data => [cap], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 30, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => x_labels, %>
                  <% :axis_range => [nil, [0,20,5]], %>
                  <% ) 
# end of strategic capacity

status_keys_p = ['Progress']
x_labels = ['LSP | CS | LS | DB | DCP | Fulcrum | Website | HT']
title =""
strategic_pro = Gchart.bar( %>
                  <% :size => '500x200', %>
                  <% :bar_colors => 'adcb62' , %>
                  <% :title => title, %>
                  <% :bg => 'FFFFFF', %>
                  <% :legend => status_keys_p, %>
                  <% :data => [pro], %>
                  <% :stacked => false, %>
                  <% :legend_position => 'bottom', %>
                  <% :axis_with_labels => [['x'], ['y']], %>
                  <% :max_value => 100, %>
                  <% :min_value => 0, %>
                  <% :bar_width_and_spacing => [50,6], %>
                  <% :axis_labels => x_labels, %>
                  <% ) 
# end of strategic progress

%>

<div class="container">
<h3  style="padding-bottom: 45px"> <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Dashboard </h3> 
<div class="panel-group" id="accordion" style="padding-top: 25px">
  <div class="card" style="background: <%=color1 %>">
     <div class="card-header" style="background: <%= color2 %>">
       <h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Strategic Projects:  Capacity and Progress </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse show">
    <div class="card-body">
      <div class="row">
          <div class="col-md-6"><%= image_tag details_data%></div>
          
          <div class="col-md-6"> 
              
              <p><%= image_tag strategic_cap%></p>
              <p><%= image_tag strategic_pro%></p>

          </div>   
      </div>
      <div class="row" style="padding-top: 20px">
        <div class="col">
          <b>Title:<br>Capacity:<br>Progress:</b>
        </div>
        <% 
              i = 0 
              @slist.each do |strategic|
              
             %>
             <div class="col"><b><%= strategic.short_name%></b>
              <br><%=cap[i]%> FTE
              <br><%=pro[i]%>% 
             </div>
             <% 
               i = i + 1   
               end 
            %>
           
      </div>  
    </div>
 </div>
 </div>
  <p style="padding-top: 20px;"></p>

  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
       <h4> 
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Tactical Projects</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse show">
      <div class="card-body">
        <div class="row" style="padding-top: 20px" >
         <%
         a_cnt = 0 
         total_tactical = 0 
         @alist.all.each do |active| 
           card_id = active.id 

           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
           @o_st = Objective.where(str) 
           
           if ( @o_st.first != nil)
            total = @o_st.first.status
            if (total.nil?)
              total = 0 
            end  
           else
            total = 0  
           end
           totalfte = 0 
           fte = 0 
           @ch_st = ChipAssignment.where(str)
           @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4

          total_tactical = total_tactical + totalfte
           a_cnt = a_cnt + 1
           if (a_cnt == 5) 
           a_cnt = 1   
         %>
         </div><div class="row" style="padding-top: 20px" >        
         <% end %>
          <div class="col-md-3">
            <%= active.short_name%>
            <p>Capacity Allocated: <%= totalfte.round(2) %>FTE</p>

            <% if (total>0) %>
            <p>Progress: </p>
              <div class="progress"> <div class="progress-bar bg-info" role="progressbar" style="width: <%=total%>%;" aria-valuenow="<%=total%>" aria-valuemin="0" aria-valuemax="100"> <%=total%>%
          </div> </div>
          <% end %>
         </div>
         <% end %> 
         </div> 
      </div>
    </div>
  </div>

</div>  
<%
 ch = Chip.order(:dept)
 totalops = 0
 totalpro =0 
 ch.each do |t|
  totalops = totalops = totalops + t.ops
  totalpro = totalpro = totalpro + t.project
 end
 
 totalops = totalops*1.0/4
 totalpro = totalpro*1.0/4
 
 totalfte = Array.new
 totalfte << totalpro
 totalfte << totalops

 total_left =  totalpro - (total_strategic+total_tactical)
 tact_s = Array.new
 tact_s << total_strategic
 tact_s << total_tactical
 tact_s << total_left


 total_cap = Gchart.pie_3d(:title => "Total Capacity", :labels => "Project|Ops/Services", :data => totalfte, :size => '500x200')
pro_cap = Gchart.pie_3d(:title => "Projects Capacity", :labels => "Strategic|Tactical|Unassigned", :data => tact_s, :size => '500x200')
%>
<p style="padding-top: 20px;" >
</p>
  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h4 >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        LIT Capacity </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse show">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">    
            <p><%= image_tag total_cap%></p>
            <p align="center">Project: <%=totalpro.round(2) %> FTE</p>
            <p align="center">Ops/Services: <%=totalops.round(2) %> FTE</p>
          </div>
          <div class="col-md-6">      
            <p ><%= image_tag pro_cap%></p>
            <p align="center">Strategic: <%=total_strategic.round(2) %> FTE</p>
            <p align="center">Tactial: <%=total_tactical.round(2) %> FTE</p>
          </div>  
        </div>  
      </div>
    </div>
  </div>

<p style="padding-top: 20px;"></p>

<div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h4 >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Project Status </a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse show">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">  
            <% str = "activity_type LIKE 'Strategic' "
               @s_list = Card.where(str) 
               @s_list.each do |s| %>  
                 <p align="center"><%= s.short_name%>: <%= s.card_status %> (<%= s.rationale %>) </p>
         
               <% end %>   
          </div>
          <div class="col-md-6">      
            <% str = "activity_type LIKE '%Active%' "
               @s_list = Card.where(str) 
               @s_list.each do |s| %>  
                  <p align="center"><%= s.short_name%>: <%= s.card_status %> (<%= s.rationale %>) </p>
               <% end %>    
          </div>  
        </div>  
      </div>
    </div>
  </div>
</div>
</div>