<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "#FFF" 
   color4 = "#CCC"
    

  @slist = Card.where("activity_type LIKE 'Strategic'")
  @alist = Card.where("activity_type LIKE '%Active%' ")   

  total_chips = Chip.sum(:project) *1.00

 flag = true

nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']

cur_cycle = Cycle.where("current_cycle =1")
cycle = cur_cycle.first.cycle_name
s = cur_cycle.first.start.month
stmonth = ""
endmonth = ""

if (s != nil)
  stmonth = nameofmonths[s]
  if s<=8
    s = s +3
  else
    s = s+3 -12 
  end  
  endmonth = nameofmonths[s]
end 

s = cur_cycle.first.start.month

months = ['','','','','']
i = 1
while (i<=4) do
  months[i] = nameofmonths[s]
  i = i + 1
  s = s+1 
  if (s>12)
    s= 1
  end
end 

%>
<div class="container">
<h3> <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT Dashboard </h3>  
<div class="panel-group" id="accordion" style="padding-top: 25px">
  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Strategic Projects </a>
      </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
      <div class="card-body">
        <div class="row">
        <% 
           
           @slist.all.each do |strategic| 
           card_id = strategic.id 
           str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
 
           total = 0 
           cnt = 0
           @o_st = Objective.where(str) 

           @o_st.all.each do |o|     
            ostatus = o.status
            cnt = cnt+1 
            if (ostatus != nil)
              total+=ostatus
            end
          end    
          total = total/cnt 
          # capacity
          totalfte = 0 
        
          str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "' "
          @ch_st = ChipAssignment.where(str)

          @ch_st.all.each do |ch| 
            
            if (ch.chips !=nil) 
              fte = ch.chips/4.00
              totalfte = totalfte + fte
             else
              fte = 0 
            end 
          end
          totalfte = totalfte/4
          if (card_id == 5)   
       %>
         </div><div class="row" style="padding-top: 20px" >
         <% end %>

          <div class="col-md-3">  <h5 ><%= strategic.short_name %> </h5>
            <p>Capacity Allocated: <%= totalfte.round(2) %>FTE</p>
            <p>Progress: </p>
              <div class="progress"> <div class="progress-bar bg-info" role="progressbar" style="width: <%=total%>%;" aria-valuenow="<%=total%>" aria-valuemin="0" aria-valuemax="100"> <%=total%>%
          </div> </div>
          </div>
         <% end %>
         </div>

      </div>
    </div>
  </div>
 
  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
       <h4> 
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Tactical Projects</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="card-body">
        <div class="row" style="padding-top: 20px" >
         <%
         a_cnt = 0 
         @alist.all.each do |active| 
           card_id = active.id 
           a_cnt = a_cnt + 1
           if (a_cnt == 5) 
           a_cnt = 1   
         %>
         </div><div class="row" style="padding-top: 20px" >        
         <% end %>
          <div class="col-md-3">
         <%= active.short_name%>
         </div>
         <% end %> 
         </div> 
      </div>
    </div>
  </div>

</div>  
<%
 ch = Chip.order(:dept)
 totalfte = 0 
 ch.each do |t|
  totalfte = totalfte = totalfte + t.ops*1.0/4
 end
%>
  <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
      <h4 >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Operational </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="card-body">
        <% 
            flag = true
              
         %>  
        <h5>Total FTE: <%=totalfte %></h5>
        <div class="row">
          <div class="col">Dept</div>
          <div class="col">First Name</div>
          <div class="col">Last Name</div>
          <div class="col">Uniqname</div>
          <div class="col">Ops/Services</div>
        </div> 
          
          
          
        <%
         
          ch.each do |t|
            fte = t.ops*1.0/4
          if (flag) 
              color = color3
              flag = !flag
          else 
            color = color4
            flag = !flag
          end 
        %>   
        <div class="row" style="background: <%=color %>">
          <div class="col"><%=t.dept%></div>
          <div class="col"><%=t.fname%></div>
          <div class="col"><%=t.lname%></div>
          <div class="col"><%=t.uniqname%></div>
          <div class="col"><%=fte%></div>
        </div> 
           
        <%  end
        %>

      </div>
    </div>
  </div>
</div>
</div>