 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
    
  cur_cycle = Cycle.where ("current_cycle=1")
     
  cycle = cur_cycle.first.cycle_name #params["cycle"]

  nameofmonths = ['','Jan', 'Feb','March','April','May','June','July','Aug', 'Sep','Oct','Nov','Dec']
  cur_cycle = Cycle.where("cycle_name LIKE '"+cycle+"'")
  s = cur_cycle.first.start.month
  stmonth = ""
  endmonth = ""
  if (s != nil)
    stmonth = nameofmonths[s]
    if s<=8
      s = s +3
    else
      s = s+3 -12 
    end  
   endmonth = nameofmonths[s]
  end 


  @track_lsp = Objective.where("card_id= '1' AND cycle LIKE '"+cycle+"'")
  @track_cs = Objective.where("card_id= '2'  AND cycle LIKE '"+cycle+"'")
  @track_db = Objective.where("card_id= '4'  AND cycle LIKE '"+cycle+"'")
  @track_ls = Objective.where("card_id= '3'  AND cycle LIKE '"+cycle+"'")
  @track_dcp = Objective.where("card_id= '5' AND cycle LIKE '"+cycle+"'")
  @track_f = Objective.where("card_id= '6'   AND cycle LIKE '"+cycle+"'")
  @track_w = Objective.where("card_id= '7'  AND cycle LIKE '"+cycle+"'")
  @track_ht = Objective.where("card_id= '8' AND cycle LIKE '"+cycle+"'")
  
%>
<%#row1 %>
<h3>  <%=cycle%> (<%= stmonth %>-<%= endmonth %>) Library IT STRATEGIC PROJECTS  </h3>

 <div class="row" style="padding-top: 20px">
    <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">

        <h5 >LSP Migration (Alma)</h5>
        
      </div>  
    <div class="card-body">         
    
         <h6><strong>Progress</strong></h6>
            <%  
              total = 0
              i = 0 
              @track_lsp.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                      total+=tstatus
                    end  
                    i = i+ 1 ;
            %>     
          <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
          </p>
          <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
             <p style="padding-top: 120px"></p>
    </div>       
      </div>
    </div>

    <div class="col-md">
      <div class="card" style="background: <%=color3 %>">
      <div class="card-header" style="background: <%= color4 %>">
        <h5 >Catalog Search </h5>
      </div>  
    <div class="card-body">
       
       <h6><strong>Progress</strong></h6>
             
              <%  total = 0
                  i = 0
                  @track_cs.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
               <p>
              <%=track%> 
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </p>
              <% end %>
              <%
            if (i>0)
              completed = total/i
              left = 100 - completed 
            end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
    </div>       
      </div>
    </div>

    <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Library Search </h5>
      </div>  
    <div class="card-body">
      
         <h6><strong>Progress</strong></h6>
         <%  total = 0 
             i = 0 
             @track_ls.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                      total+=tstatus
                    end  
                    i = i+ 1 ;
               %>     
          <p><%=track %> 
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
            </p>
          <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
    </div>       
      </div>
    </div>
 <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Deep Blue</h5>
      </div>  
    <div class="card-body">
    
         <h6><strong>Progress</strong></h6>
              <%  total = 0 
                  i = 0 
                  @track_db.all.each do |t| 
                    track = t.objective
                    
                     tstatus = t.status
                     if (tstatus != nil)
                     total+=tstatus
                    end
                    i = i+ 1 ;
               %>     
              <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
            </p>
              <% end %>
               <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
<p style="padding-top: 50px"></p>
    </div>       
      </div>
    </div>

  </div>

  <%# row2 %>

  


  <div class="row" style="padding-top: 20px">
     <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Digital Collections Platform: </h5>
      </div>  
    <div class="card-body">
       
        <h6><strong>Progress</strong></h6> 
       
              <%  total = 0 
                  i = 0 
                  @track_dcp.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
             <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
           </p>
              <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
    </div>       
      </div>
    </div>
    <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5>Website Redesign</h5>
      </div>  
    <div class="card-body">
      
         <h6><strong>Progress</strong></h6>
              <%  total = 0 
                  i = 0 
                  @track_w.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
              <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </p>
              <% end %>
        <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
    </div>       
      </div>
    </div>

    <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5>Fulcrum </h5>
      </div>  
    <div class="card-body">
        

          <h6><strong>Progress</strong></h6>
              <%  total = 0
                  i = 0 
                  @track_f.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
             <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
             </p>
              <% end %>
            <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
    </div>       
      </div>
    </div>

    <div class="col-md">
      <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5>HathiTrust </h5>
      </div>  
    <div class="card-body">
      
         <h6><strong>Progress</strong></h6>
           
              <%  total = 0 
                  i = 0 
                  @track_ht.all.each do |t| 
                    track = t.objective
                    tstatus = t.status
                    if (tstatus != nil)
                     total+=tstatus
                    end 
                    i = i+ 1 ;
               %>     
              <p><%=track%>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%=tstatus%>%;" aria-valuenow="<%=tstatus%>" aria-valuemin="0" aria-valuemax="100"><%=tstatus%>%
                </div>
              </div>
              </p>
              <% end %>
          <%
             if (i>0)
            completed = total/i
            left = 100 - completed 
          end
          %>
          <hr> 
             <h6><strong>Status</strong></h6>
             <p>Completed: <%=completed%>%</p>
             <p>Left to do: <%=left%>%</p>
    </div>       
      </div>
    </div>

    
  </div>
  
</div>