 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
    

  @slist = Card.where("activity_type LIKE 'Strategic'")
     
  total_chips = Chip.sum(:project) *1.00

  cycle = params["cycle"]
 flag = false 



%>

<%#row1 %>
<h3> <%=cycle%> (March-June) Library IT STRATEGIC PROJECTS - LIT BOARD </h3>

<% @slist.all.each do |strategic| 
 card_id = strategic.id 
 str = "card_id='" + card_id.to_s + "' AND cycle='"+ cycle + "'"
 @ch_st = ChipAssignment.where(str)
 @o_st = Objective.where(str) 
 @c_st = TrackComment.where(str)
 
%>
 <div class="row" style="padding-top: 20px">
   <div class="col-md-12">
    	<div class="card" style="background: <%=color1 %>">
  		<div class="card-header" style="background: <%= color2 %>">

    		<h5 ><%= strategic.title %></h5>
    		
  		</div>  
 		<div class="card-body"> 			  
        <h6 ><strong>Capacity Allocated: </strong></h6>
        <% 
          total = 0 
          @ch_st.all.each do |ch| %>
        
          <% 
          if (ch.chips !=nil) 
              fte = ch.chips/4.00
              total = total + ch.chips
             else
              fte = 0 
             end 

             if (fte >0)
              chipname = Chip.where("uniqname LIKE '"+ch.uniqname+"'")

          %>
            <p> <%= chipname.first.fname %> <%= chipname.first.lname %> (<%= ch.uniqname %>) : 
                <%= fte %> FTE
            </p>
           <% end %> 
        <% end %>
        <strong>Total: <% totalp = (total/total_chips).ceil %> <% totalfte = total/4.00 %> <%= totalp %>%, <%= totalfte %>FTE  </strong>
        <hr>
      <%#<h6 ><strong> Project Lead:</strong></h6> 
      <p>Jon Rothman</p>%>

      <h6 ><strong> Objectives:</strong></h6>
    	<% cnt = 0
         
         one = @c_st.first

         @o_st.all.each do |o| 
            obj = o.objective
            ostatus = o.status
            cnt = cnt+1
      %>  
      
       <div class="row">
        <div class="col-md-6">
        <p><%=cnt.to_s %>. <%= obj%></p>
       </div>
        <div class="col-md-6">
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
       </div></div>
      <%end%>
      <% if (flag) %>
         <hr>
        <h6 > <strong>Comments:</strong></h6>
        <p><strong>March 2020:</strong><br><%=one.comment1%></p>
        <p><strong>April 2020:</strong><br><%=one.comment2%></p>
        <p><strong>May 2020:</strong><br><%=one.comment3%></p>
        <p><strong>June 2020:</strong><br><%=one.comment4%></p>
      <%end%>  
      
 		</div>  		 
  		</div>
    </div>
    </div>
<% end %>


   
  
  
</div>