 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
%>   

<h3> FY20:3 (March-June) Library IT TACTICAL PROJECTS</h3>

 <div class="row" style="padding-top: 20px">
   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Internal LIT Projects</h5>    
      </div>
      <div class="card-body">   
        <h5 >Retire Debian 8</h5><p>An internal A&E project to track the work required to migrate or obviate all remaining Debian 8 systems.</p>  
        <p><b>Objective:</b><br>Complete the project -- no remaining Debian 8 systems.The objective will be achieved through a combination of replacement via puppetization, replacement via app hosting rationalization, and upgrades in places where warranted or required by time pressure.</p>
        <hr>
        <h5 >Application Hosting</h5> <p>A project to improve the stability and efficiency of ruby application deployment and hosting.</p>   
        <p><b>Objectives:</b><br>-Stable beta quality kubernetes clusters at all on-premise sites. 
<br> - All non-production ruby app instances are deployable to the clusters via moku+docker or directly.
<br> - Clearly identified "generation" of deployment model; a limited number to be supported concurrently.
<br> - All instance service dependencies are identified; clear "ownership" of instances.</p>
        <hr> <h5 >DCUQ (Jira Project)</h5>  <p><b>Objective:</b><br>Enable HT-like feedback that updates DCUQ when material has been ingested (requires updating HT feedback script). </p>   
         <hr> <h5 >Aeon Hosting</h5> 
         <p><b>Objective: </b> <br>This timeline is now driven by Atlas and they have 12 months from mid-January to complete the work. The single objective continues to be to have SCRC and Clements Aeon instances hosted by Atlas and the project is complete.</p> 
      </div>  
    </div>
   </div>

   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Library Projects</h5>    
      </div>
      <div class="card-body">   
    
        <h5 ><a href="https://trello.com/c/HBw10chz/638-workflow-and-communication-tool-pilot">Workflow & Communication Tools</a></h5>  <p><b>Objectives: </b><br>Plan and conduct the pilot of workflow and communication tools recommended in the July 2019 TASC Workflow/Communication Tools Investigation Team final report.</p> 
        <hr> <h5 ><a href="https://trello.com/c/PWF84s7w/614-project-canvas-lti-pagebuilder-implementation-project"> Canvas LTI</a></h5>  <p> <b>Objectives: </b><br>- Merging a Search box and Library Help widget into the Library Materials UI.<br>
- Adopting some of the new design elements in Library Materials.<br>
- Rewriting the backend UMIAC client for Library Materials.<br>
- ITS's UMIAC interface is going away in the summer, so rewriting the UMIAC client for Library Materials was critical. </p>
        <hr> <h5 ><a href="https://trello.com/c/4dysjLug/642-archivesspace-pui-implementation-for-scrc-fy202">ArchiveSpace PUI for SCRC</a></h5> <p> <b>Objectives: </b><br>-Finish up the detailed work on the FY20:1 card.<br>
- Discuss and confirm plans to go with vended solution.<br>
- Confirm funding and begin negotiations with Atlas (vendor).<br>
- Complete the contract<br>Plan implementation details with Atlas.<br>
- Work with Atlas to implement and migrate content.
            
        
        <hr> <h5 ><a href="https://trello.com/c/7j1lxO3K/653-campus-map-extension-dbrrds-partnerships">DB Campus Partnership Map</a></h5> <p><b>Objective:</b><br>Expand Campus Partnership map on publishing website to include DBRRDS partnerships.</p>   
      </div>  
    </div>
   </div>

<div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >External Commitments</h5>    
      </div>
      <div class="card-body">   
       
        <h5 >Combine Aggregation Tool</h5> <p><b>Objectives:</b> <br>Adding features and fixes to ensure the stability of the application and support its core purpose (sharing metadata with the DPLA and Michigan Memories websites).</p>   
        <hr> <h5 >Michigan Service Hub</h5>  <p><b>Objectives:</b><br> Develop new content for Michigan Memories, including online exhibits and primary source sets; outreach, on-site visits, and conferences; and metadata review of U-M collections.</p> 
        <hr><h5 >Analytics</h5> <p> Ongoing work on Library Analytics Infrastructure.</p>  
    
         <hr><h5 >Clearinghouse</h5>  <p>Ongoing maintenance and development of the Civil Rights Litigation Clearinghouse. The Civil Rights Litigation Clearinghouse collects documents and information from civil rights cases across the United States.</p>
          
      </div>  
    </div>
   </div>

   
    


</div>  