 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
%>   

<h3> FY20:3 (March-June) Library IT Tactical Projects</h3>
 <div class="row" style="padding-top: 20px">
   <div class="col-md">  
    
     <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >Internal LIT Projects</h5> </div>
       <div class="card-body">
          <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Active%' AND card_type LIKE '%Internal%'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.short_name %></h5>
      <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      <p><b>Objectives:</b></p>
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>

      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
       <% end %> 
      <% if (cnt <@slist.count) %>
      <hr>
      <% end %>
      <%
        end  
     %>


       </div>
      </div>
   </div>
   <div class="col-md"><div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >Library Projects</h5> </div>
       <div class="card-body">
             <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Active%' AND card_type LIKE '%Library%'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.short_name %></h5>
        <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      <p><b>Objectives:</b></p>
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>

      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
       <% end %> 
      <% if (cnt <@slist.count) %>
      <hr>
      <% end %>
      <%
        end  
     %>


       </div>
      </div>
   </div>
   <div class="col-md"> <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>"> <h5 >External Commitments</h5> </div>
       <div class="card-body">
             <% 
        cnt = 0 

        @slist = Card.where("activity_type LIKE '%Active%' AND card_type LIKE '%External%'")
        @slist.each do |one|
        cnt = cnt + 1   
        id = one.id
        #str = "card_id="+ id.to_s + " AND cycle='"+ cycle + "'"
        str = "card_id="+ id.to_s
        @o_st = Objective.where(str) 
        
      %> 
      <h5 ><%= one.short_name %></h5>
        <% @o_st.all.each do |o|  
        ostatus =  o. status%>
      <p><b>Objectives:</b></p>
      <% if (o.nil?) 
         else
      %>
      <p><%= o.objective.html_safe %></p>
      <% end  %>

      <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%=ostatus%>%;" aria-valuenow="<%=ostatus%>" aria-valuemin="0" aria-valuemax="100"> <%=ostatus%>%
          </div>
        </div>
       <% end %> 
      <% if (cnt <@slist.count) %>
      <hr>
      <% end %>
      <%
        end  
     %>

       </div>
      </div>
   </div>
 </div>


</div>  