 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
%>   

<h3> FY20:3 TACTICAL PROJECTS  </h3>

 <div class="row" style="padding-top: 20px">
   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Infrastructure</h5>    
      </div>
      <div class="card-body">   
        <h5 >Retire Debian 8</h5>    
        <hr>
        <h5 >Application Hosting</h5>    
          
      </div>  
    </div>
   </div>

   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Workflow & Communication</h5>    
      </div>
      <div class="card-body">   
        <h5 >Workflow Tools</h5>         
      </div>  
    </div>
   </div>

    <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >MSH & Combine</h5>    
      </div>
      <div class="card-body">   
        <h5 >Aggregation Tool</h5>    
        <hr>
        <h5 >Michigan Service Hub</h5>    
          
      </div>  
    </div>
   </div>



  </div>    


  <%#row 2%>
  <div class="row" style="padding-top: 20px">
   <div class="col-md">


    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Canvas</h5>    
      </div>
      <div class="card-body">   
        <h5 >Canvas LTI</h5>    
       
          
      </div>  
    </div>

   </div>

   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >DCUQ</h5>    
      </div>
      <div class="card-body">   
        <h5 >DCUQ</h5>         
      </div>  
    </div>
   </div>

<div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >AEON</h5>    
      </div>
      <div class="card-body">   
        <h5 >AEON</h5>    
         
          
      </div>  
    </div>
   </div>

  </div> 

    <%#row 3%>
  <div class="row" style="padding-top: 20px">
   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >ArchiveSpace</h5>    
      </div>
      <div class="card-body">   
        <h5 >ArchiveSpace PUI for SCRC</h5>    
          
          
      </div>  
    </div>
   </div>

   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Consultation</h5>    
      </div>
      <div class="card-body">   
        <h5 >DB Campus Partnership Map</h5>         
      </div>  
    </div>
   </div>

  <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >External Commitments</h5>    
      </div>
      <div class="card-body">   
        <h5 >Analytics</h5>    
        <hr>
        <h5 >CRMS</h5> 
         <hr>
        <h5 >Clearing House</h5>    
          
      </div>  
    </div>
   </div>
  </div> 

</div>  